[data-cellid="grid_c3"][data-page="callsagentview_search"][data-cellid="grid_c3"][data-page="callsagentview_search"][data-cellid="grid_c3"][data-page="callsagentview_search"] {
  background-color: #eef8ff;
  width: 120px;
}
[data-cellid="grid_c5"][data-page="callsagentview_search"][data-cellid="grid_c5"][data-page="callsagentview_search"][data-cellid="grid_c5"][data-page="callsagentview_search"] {
  background-color: #eef8ff;
  width: 100px;
}
[data-cellid="grid_c9"][data-page="callsagentview_search"][data-cellid="grid_c9"][data-page="callsagentview_search"][data-cellid="grid_c9"][data-page="callsagentview_search"] {
  background-color: #ffeeee;
  width: 140px;
}
[data-cellid="grid_c12"][data-page="callsagentview_search"][data-cellid="grid_c12"][data-page="callsagentview_search"][data-cellid="grid_c12"][data-page="callsagentview_search"] {
  background-color: #ffeeee;
  width: 80px;
}
[data-cellid="grid_c36"][data-page="callsagentview_search"][data-cellid="grid_c36"][data-page="callsagentview_search"][data-cellid="grid_c36"][data-page="callsagentview_search"] {
  background-color: #eef8ff;
  width: 120px;
}
[data-cellid="grid_c74"][data-page="callsagentview_search"][data-cellid="grid_c74"][data-page="callsagentview_search"][data-cellid="grid_c74"][data-page="callsagentview_search"] {
  background-color: #eef8ff;
  width: 80px;
}
[data-cellid="grid_c11"][data-page="callsagentview_search"][data-cellid="grid_c11"][data-page="callsagentview_search"][data-cellid="grid_c11"][data-page="callsagentview_search"] {
  background-color: #eef8ff;
  width: 20px;
}


