[data-cellid="grid_c3"][data-page="calls_search"][data-cellid="grid_c3"][data-page="calls_search"][data-cellid="grid_c3"][data-page="calls_search"] {
  width: 120px;
}
[data-cellid="grid_c5"][data-page="calls_search"][data-cellid="grid_c5"][data-page="calls_search"][data-cellid="grid_c5"][data-page="calls_search"] {
  width: 100px;
}
[data-cellid="grid_c9"][data-page="calls_search"][data-cellid="grid_c9"][data-page="calls_search"][data-cellid="grid_c9"][data-page="calls_search"] {
  width: 140px;
}
[data-cellid="grid_c12"][data-page="calls_search"][data-cellid="grid_c12"][data-page="calls_search"][data-cellid="grid_c12"][data-page="calls_search"] {
  width: 80px;
}
[data-cellid="grid_c36"][data-page="calls_search"][data-cellid="grid_c36"][data-page="calls_search"][data-cellid="grid_c36"][data-page="calls_search"] {
  width: 120px;
}
[data-cellid="grid_c74"][data-page="calls_search"][data-cellid="grid_c74"][data-page="calls_search"][data-cellid="grid_c74"][data-page="calls_search"] {
  width: 80px;
}
[data-cellid="grid_c11"][data-page="calls_search"][data-cellid="grid_c11"][data-page="calls_search"][data-cellid="grid_c11"][data-page="calls_search"] {
  width: 20px;
}


