[data-cellid="grid_cell_label3"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label3"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label3"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  background-color: #f1fafd;
  border: solid #52bfff 1px;
}
[data-cellid="grid_cell_label24"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label24"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label24"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field24"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field24"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field24"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label25"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label25"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label25"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field25"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field25"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field25"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label26"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label26"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label26"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field26"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field26"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field26"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field61"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field61"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field61"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  background-color: #f1fafd;
  border: solid #52bfff 1px;
}
[data-cellid="grid_cell_label72"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label72"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label72"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  background-color: #f1fafd;
  border: solid #52bfff 1px;
}
[data-cellid="grid_cell_label68"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label68"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label68"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  background-color: #f1fafd;
  border: solid #52bfff 1px;
}
[data-cellid="grid_cell_label114"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label114"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label114"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  background-color: #f1fafd;
  border: solid #52bfff 1px;
}
[data-cellid="grid_cell_label133"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label133"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label133"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label134"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label134"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label134"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label135"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label135"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label135"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label136"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label136"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label136"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label137"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label137"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label137"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label138"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label138"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label138"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field114"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field114"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field114"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field115"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field115"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field115"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field116"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field116"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field116"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field117"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field117"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field117"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field118"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field118"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field118"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field119"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field119"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field119"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field93"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field93"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field93"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field94"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field94"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field94"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
  font-weight: bold;
  padding-top: 30px;
}
[data-cellid="grid_cell_field120"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field120"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field120"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  background-color: #fff9c8;
  border: none;
}
[data-cellid="grid_cell_field121"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field121"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field121"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  background-color: #fff9c8;
  border: none;
}
[data-cellid="grid_cell_field126"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field126"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field126"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  background-color: #fff9c8;
  border: none;
}
[data-cellid="grid_cell_field127"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field127"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field127"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  background-color: #fff9c8;
  border: none;
}
[data-cellid="grid_cell_field95"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field95"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field95"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field124"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field124"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field124"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field128"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field128"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field128"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field129"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field129"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field129"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field130"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field130"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_field130"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label27"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label27"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label27"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label28"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label28"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label28"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label29"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label29"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label29"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label30"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label30"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label30"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label31"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label31"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label31"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label38"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label38"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label38"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label39"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label39"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label39"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label40"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label40"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label40"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label41"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label41"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label41"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label42"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label42"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label42"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label43"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label43"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-cellid="grid_cell_label43"][data-page="dbo_novaapplicationsstatusview_novaInlineAddList"] {
  border: none;
}
[data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-itemid="text"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-itemid="text1"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-itemid="text2"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-itemid="text3"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-itemid="text4"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-itemid="image"] {
  padding-top: 12px;
}
[data-page="dbo_novaapplicationsstatusview_novaInlineAddList"][data-itemid="text5"] {
  font-weight: bold;
  font-size: 20px;
}


