[data-cellid="grid_c36"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c36"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c36"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c37"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c37"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c37"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c41"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c41"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c41"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c8"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c8"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c8"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c21"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c21"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c21"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c22"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c22"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c22"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c42"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c42"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c42"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c43"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c43"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c43"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c51"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c51"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c51"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c52"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c52"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c52"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c60"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c60"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c60"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c61"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c61"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c61"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c75"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c75"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c75"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c76"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c76"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c76"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c90"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c90"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c90"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c91"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c91"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c91"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c92"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c92"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c92"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c93"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c93"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c93"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c94"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c94"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c94"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c95"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c95"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c95"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c96"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c96"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c96"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-cellid="grid_c59"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c59"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c59"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #fffbe1;
}
[data-cellid="grid_c89"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c89"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c89"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #fffbe1;
}
[data-cellid="grid_c1"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c1"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-cellid="grid_c1"][data-page="dbo_voltonapplicationsstatusview_volton_view_popup"] {
  background-color: #110ad6;
}
[data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-itemid="text7"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-itemid="text5"] {
  color: #ffffff;
}
[data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-itemid="text6"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-itemid="text4"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-itemid="text2"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-itemid="text3"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-itemid="text"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}
[data-page="dbo_voltonapplicationsstatusview_volton_view_popup"][data-itemid="text1"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
}


