[data-cellid="grid_cell_label"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_label1"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label1"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label1"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
}
[data-cellid="grid_cell_field1"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field1"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field1"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
}
[data-cellid="grid_cell_label2"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label2"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label2"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
}
[data-cellid="grid_cell_field2"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field2"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field2"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
}
[data-cellid="grid_cell_label16"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label16"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label16"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_label24"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label24"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label24"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_label44"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label44"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label44"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_field64"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field64"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field64"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #fbffc6;
  border: none;
}
[data-cellid="grid_cell_field66"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field66"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field66"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #fbffc6;
  border: none;
}
[data-cellid="grid_cell_field68"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field68"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field68"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #fbffc6;
  border: none;
}
[data-cellid="grid_cell_field69"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field69"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field69"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #fbffc6;
  border: none;
}
[data-cellid="grid_cell_label39"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label39"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label39"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
}
[data-cellid="grid_cell_field104"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field104"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field104"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_field105"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field105"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field105"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_field106"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field106"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field106"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_field107"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field107"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field107"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_field108"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field108"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field108"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_field109"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field109"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field109"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_label63"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label63"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label63"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_label87"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label87"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label87"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_label88"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label88"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label88"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_label89"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label89"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label89"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_label90"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label90"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label90"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_label91"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label91"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label91"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_label92"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label92"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label92"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #f2fffe;
  border: none;
}
[data-cellid="grid_cell_label147"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label147"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label147"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_label148"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label148"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label148"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_label149"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label149"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label149"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_label150"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label150"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label150"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_label151"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label151"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label151"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_label152"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label152"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label152"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
  color: #ffffff;
}
[data-cellid="grid_cell_field"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field"][data-page="dbo_voltonapplicationsstatusview_print"] {
  border: none;
}
[data-cellid="grid_cell_label172"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label172"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_label172"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #110ad6;
  border: none;
}
[data-cellid="grid_cell_field67"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field67"][data-page="dbo_voltonapplicationsstatusview_print"][data-cellid="grid_cell_field67"][data-page="dbo_voltonapplicationsstatusview_print"] {
  background-color: #fbffc6;
  border: none;
}
[data-page="dbo_voltonapplicationsstatusview_print"][data-itemid="text2"] {
  color: #ffffff;
}
[data-page="dbo_voltonapplicationsstatusview_print"][data-itemid="text7"] {
  color: #ffffff;
}


