[data-cellid="grid_c"][data-page="novaagentapplications_view"][data-cellid="grid_c"][data-page="novaagentapplications_view"][data-cellid="grid_c"][data-page="novaagentapplications_view"] {
  width: 120px;
}
[data-cellid="grid_c6"][data-page="novaagentapplications_view"][data-cellid="grid_c6"][data-page="novaagentapplications_view"][data-cellid="grid_c6"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c7"][data-page="novaagentapplications_view"][data-cellid="grid_c7"][data-page="novaagentapplications_view"][data-cellid="grid_c7"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c8"][data-page="novaagentapplications_view"][data-cellid="grid_c8"][data-page="novaagentapplications_view"][data-cellid="grid_c8"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c9"][data-page="novaagentapplications_view"][data-cellid="grid_c9"][data-page="novaagentapplications_view"][data-cellid="grid_c9"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c10"][data-page="novaagentapplications_view"][data-cellid="grid_c10"][data-page="novaagentapplications_view"][data-cellid="grid_c10"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c11"][data-page="novaagentapplications_view"][data-cellid="grid_c11"][data-page="novaagentapplications_view"][data-cellid="grid_c11"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c13"][data-page="novaagentapplications_view"][data-cellid="grid_c13"][data-page="novaagentapplications_view"][data-cellid="grid_c13"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c15"][data-page="novaagentapplications_view"][data-cellid="grid_c15"][data-page="novaagentapplications_view"][data-cellid="grid_c15"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c23"][data-page="novaagentapplications_view"][data-cellid="grid_c23"][data-page="novaagentapplications_view"][data-cellid="grid_c23"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c25"][data-page="novaagentapplications_view"][data-cellid="grid_c25"][data-page="novaagentapplications_view"][data-cellid="grid_c25"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c27"][data-page="novaagentapplications_view"][data-cellid="grid_c27"][data-page="novaagentapplications_view"][data-cellid="grid_c27"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c29"][data-page="novaagentapplications_view"][data-cellid="grid_c29"][data-page="novaagentapplications_view"][data-cellid="grid_c29"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c31"][data-page="novaagentapplications_view"][data-cellid="grid_c31"][data-page="novaagentapplications_view"][data-cellid="grid_c31"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c33"][data-page="novaagentapplications_view"][data-cellid="grid_c33"][data-page="novaagentapplications_view"][data-cellid="grid_c33"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c35"][data-page="novaagentapplications_view"][data-cellid="grid_c35"][data-page="novaagentapplications_view"][data-cellid="grid_c35"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c37"][data-page="novaagentapplications_view"][data-cellid="grid_c37"][data-page="novaagentapplications_view"][data-cellid="grid_c37"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c39"][data-page="novaagentapplications_view"][data-cellid="grid_c39"][data-page="novaagentapplications_view"][data-cellid="grid_c39"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c41"][data-page="novaagentapplications_view"][data-cellid="grid_c41"][data-page="novaagentapplications_view"][data-cellid="grid_c41"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c43"][data-page="novaagentapplications_view"][data-cellid="grid_c43"][data-page="novaagentapplications_view"][data-cellid="grid_c43"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c45"][data-page="novaagentapplications_view"][data-cellid="grid_c45"][data-page="novaagentapplications_view"][data-cellid="grid_c45"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c47"][data-page="novaagentapplications_view"][data-cellid="grid_c47"][data-page="novaagentapplications_view"][data-cellid="grid_c47"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c49"][data-page="novaagentapplications_view"][data-cellid="grid_c49"][data-page="novaagentapplications_view"][data-cellid="grid_c49"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c51"][data-page="novaagentapplications_view"][data-cellid="grid_c51"][data-page="novaagentapplications_view"][data-cellid="grid_c51"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c53"][data-page="novaagentapplications_view"][data-cellid="grid_c53"][data-page="novaagentapplications_view"][data-cellid="grid_c53"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c55"][data-page="novaagentapplications_view"][data-cellid="grid_c55"][data-page="novaagentapplications_view"][data-cellid="grid_c55"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c57"][data-page="novaagentapplications_view"][data-cellid="grid_c57"][data-page="novaagentapplications_view"][data-cellid="grid_c57"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c71"][data-page="novaagentapplications_view"][data-cellid="grid_c71"][data-page="novaagentapplications_view"][data-cellid="grid_c71"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c73"][data-page="novaagentapplications_view"][data-cellid="grid_c73"][data-page="novaagentapplications_view"][data-cellid="grid_c73"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c75"][data-page="novaagentapplications_view"][data-cellid="grid_c75"][data-page="novaagentapplications_view"][data-cellid="grid_c75"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c77"][data-page="novaagentapplications_view"][data-cellid="grid_c77"][data-page="novaagentapplications_view"][data-cellid="grid_c77"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c79"][data-page="novaagentapplications_view"][data-cellid="grid_c79"][data-page="novaagentapplications_view"][data-cellid="grid_c79"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c81"][data-page="novaagentapplications_view"][data-cellid="grid_c81"][data-page="novaagentapplications_view"][data-cellid="grid_c81"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c83"][data-page="novaagentapplications_view"][data-cellid="grid_c83"][data-page="novaagentapplications_view"][data-cellid="grid_c83"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c85"][data-page="novaagentapplications_view"][data-cellid="grid_c85"][data-page="novaagentapplications_view"][data-cellid="grid_c85"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c87"][data-page="novaagentapplications_view"][data-cellid="grid_c87"][data-page="novaagentapplications_view"][data-cellid="grid_c87"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c89"][data-page="novaagentapplications_view"][data-cellid="grid_c89"][data-page="novaagentapplications_view"][data-cellid="grid_c89"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c91"][data-page="novaagentapplications_view"][data-cellid="grid_c91"][data-page="novaagentapplications_view"][data-cellid="grid_c91"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c93"][data-page="novaagentapplications_view"][data-cellid="grid_c93"][data-page="novaagentapplications_view"][data-cellid="grid_c93"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c95"][data-page="novaagentapplications_view"][data-cellid="grid_c95"][data-page="novaagentapplications_view"][data-cellid="grid_c95"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c97"][data-page="novaagentapplications_view"][data-cellid="grid_c97"][data-page="novaagentapplications_view"][data-cellid="grid_c97"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c99"][data-page="novaagentapplications_view"][data-cellid="grid_c99"][data-page="novaagentapplications_view"][data-cellid="grid_c99"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c101"][data-page="novaagentapplications_view"][data-cellid="grid_c101"][data-page="novaagentapplications_view"][data-cellid="grid_c101"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c103"][data-page="novaagentapplications_view"][data-cellid="grid_c103"][data-page="novaagentapplications_view"][data-cellid="grid_c103"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c105"][data-page="novaagentapplications_view"][data-cellid="grid_c105"][data-page="novaagentapplications_view"][data-cellid="grid_c105"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c107"][data-page="novaagentapplications_view"][data-cellid="grid_c107"][data-page="novaagentapplications_view"][data-cellid="grid_c107"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c109"][data-page="novaagentapplications_view"][data-cellid="grid_c109"][data-page="novaagentapplications_view"][data-cellid="grid_c109"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c111"][data-page="novaagentapplications_view"][data-cellid="grid_c111"][data-page="novaagentapplications_view"][data-cellid="grid_c111"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c113"][data-page="novaagentapplications_view"][data-cellid="grid_c113"][data-page="novaagentapplications_view"][data-cellid="grid_c113"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c115"][data-page="novaagentapplications_view"][data-cellid="grid_c115"][data-page="novaagentapplications_view"][data-cellid="grid_c115"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c117"][data-page="novaagentapplications_view"][data-cellid="grid_c117"][data-page="novaagentapplications_view"][data-cellid="grid_c117"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c119"][data-page="novaagentapplications_view"][data-cellid="grid_c119"][data-page="novaagentapplications_view"][data-cellid="grid_c119"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c121"][data-page="novaagentapplications_view"][data-cellid="grid_c121"][data-page="novaagentapplications_view"][data-cellid="grid_c121"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c123"][data-page="novaagentapplications_view"][data-cellid="grid_c123"][data-page="novaagentapplications_view"][data-cellid="grid_c123"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c125"][data-page="novaagentapplications_view"][data-cellid="grid_c125"][data-page="novaagentapplications_view"][data-cellid="grid_c125"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c127"][data-page="novaagentapplications_view"][data-cellid="grid_c127"][data-page="novaagentapplications_view"][data-cellid="grid_c127"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c129"][data-page="novaagentapplications_view"][data-cellid="grid_c129"][data-page="novaagentapplications_view"][data-cellid="grid_c129"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c131"][data-page="novaagentapplications_view"][data-cellid="grid_c131"][data-page="novaagentapplications_view"][data-cellid="grid_c131"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c133"][data-page="novaagentapplications_view"][data-cellid="grid_c133"][data-page="novaagentapplications_view"][data-cellid="grid_c133"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c135"][data-page="novaagentapplications_view"][data-cellid="grid_c135"][data-page="novaagentapplications_view"][data-cellid="grid_c135"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c137"][data-page="novaagentapplications_view"][data-cellid="grid_c137"][data-page="novaagentapplications_view"][data-cellid="grid_c137"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c139"][data-page="novaagentapplications_view"][data-cellid="grid_c139"][data-page="novaagentapplications_view"][data-cellid="grid_c139"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c141"][data-page="novaagentapplications_view"][data-cellid="grid_c141"][data-page="novaagentapplications_view"][data-cellid="grid_c141"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c143"][data-page="novaagentapplications_view"][data-cellid="grid_c143"][data-page="novaagentapplications_view"][data-cellid="grid_c143"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c145"][data-page="novaagentapplications_view"][data-cellid="grid_c145"][data-page="novaagentapplications_view"][data-cellid="grid_c145"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c147"][data-page="novaagentapplications_view"][data-cellid="grid_c147"][data-page="novaagentapplications_view"][data-cellid="grid_c147"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c149"][data-page="novaagentapplications_view"][data-cellid="grid_c149"][data-page="novaagentapplications_view"][data-cellid="grid_c149"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c151"][data-page="novaagentapplications_view"][data-cellid="grid_c151"][data-page="novaagentapplications_view"][data-cellid="grid_c151"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c153"][data-page="novaagentapplications_view"][data-cellid="grid_c153"][data-page="novaagentapplications_view"][data-cellid="grid_c153"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c155"][data-page="novaagentapplications_view"][data-cellid="grid_c155"][data-page="novaagentapplications_view"][data-cellid="grid_c155"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c157"][data-page="novaagentapplications_view"][data-cellid="grid_c157"][data-page="novaagentapplications_view"][data-cellid="grid_c157"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c159"][data-page="novaagentapplications_view"][data-cellid="grid_c159"][data-page="novaagentapplications_view"][data-cellid="grid_c159"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c167"][data-page="novaagentapplications_view"][data-cellid="grid_c167"][data-page="novaagentapplications_view"][data-cellid="grid_c167"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c169"][data-page="novaagentapplications_view"][data-cellid="grid_c169"][data-page="novaagentapplications_view"][data-cellid="grid_c169"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c171"][data-page="novaagentapplications_view"][data-cellid="grid_c171"][data-page="novaagentapplications_view"][data-cellid="grid_c171"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c173"][data-page="novaagentapplications_view"][data-cellid="grid_c173"][data-page="novaagentapplications_view"][data-cellid="grid_c173"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c175"][data-page="novaagentapplications_view"][data-cellid="grid_c175"][data-page="novaagentapplications_view"][data-cellid="grid_c175"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c177"][data-page="novaagentapplications_view"][data-cellid="grid_c177"][data-page="novaagentapplications_view"][data-cellid="grid_c177"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c179"][data-page="novaagentapplications_view"][data-cellid="grid_c179"][data-page="novaagentapplications_view"][data-cellid="grid_c179"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c181"][data-page="novaagentapplications_view"][data-cellid="grid_c181"][data-page="novaagentapplications_view"][data-cellid="grid_c181"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c183"][data-page="novaagentapplications_view"][data-cellid="grid_c183"][data-page="novaagentapplications_view"][data-cellid="grid_c183"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c185"][data-page="novaagentapplications_view"][data-cellid="grid_c185"][data-page="novaagentapplications_view"][data-cellid="grid_c185"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c187"][data-page="novaagentapplications_view"][data-cellid="grid_c187"][data-page="novaagentapplications_view"][data-cellid="grid_c187"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c189"][data-page="novaagentapplications_view"][data-cellid="grid_c189"][data-page="novaagentapplications_view"][data-cellid="grid_c189"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c191"][data-page="novaagentapplications_view"][data-cellid="grid_c191"][data-page="novaagentapplications_view"][data-cellid="grid_c191"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c193"][data-page="novaagentapplications_view"][data-cellid="grid_c193"][data-page="novaagentapplications_view"][data-cellid="grid_c193"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c195"][data-page="novaagentapplications_view"][data-cellid="grid_c195"][data-page="novaagentapplications_view"][data-cellid="grid_c195"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c197"][data-page="novaagentapplications_view"][data-cellid="grid_c197"][data-page="novaagentapplications_view"][data-cellid="grid_c197"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c199"][data-page="novaagentapplications_view"][data-cellid="grid_c199"][data-page="novaagentapplications_view"][data-cellid="grid_c199"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c201"][data-page="novaagentapplications_view"][data-cellid="grid_c201"][data-page="novaagentapplications_view"][data-cellid="grid_c201"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c203"][data-page="novaagentapplications_view"][data-cellid="grid_c203"][data-page="novaagentapplications_view"][data-cellid="grid_c203"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c205"][data-page="novaagentapplications_view"][data-cellid="grid_c205"][data-page="novaagentapplications_view"][data-cellid="grid_c205"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c207"][data-page="novaagentapplications_view"][data-cellid="grid_c207"][data-page="novaagentapplications_view"][data-cellid="grid_c207"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c209"][data-page="novaagentapplications_view"][data-cellid="grid_c209"][data-page="novaagentapplications_view"][data-cellid="grid_c209"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c211"][data-page="novaagentapplications_view"][data-cellid="grid_c211"][data-page="novaagentapplications_view"][data-cellid="grid_c211"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c213"][data-page="novaagentapplications_view"][data-cellid="grid_c213"][data-page="novaagentapplications_view"][data-cellid="grid_c213"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c215"][data-page="novaagentapplications_view"][data-cellid="grid_c215"][data-page="novaagentapplications_view"][data-cellid="grid_c215"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c217"][data-page="novaagentapplications_view"][data-cellid="grid_c217"][data-page="novaagentapplications_view"][data-cellid="grid_c217"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c219"][data-page="novaagentapplications_view"][data-cellid="grid_c219"][data-page="novaagentapplications_view"][data-cellid="grid_c219"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c221"][data-page="novaagentapplications_view"][data-cellid="grid_c221"][data-page="novaagentapplications_view"][data-cellid="grid_c221"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c223"][data-page="novaagentapplications_view"][data-cellid="grid_c223"][data-page="novaagentapplications_view"][data-cellid="grid_c223"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c225"][data-page="novaagentapplications_view"][data-cellid="grid_c225"][data-page="novaagentapplications_view"][data-cellid="grid_c225"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c227"][data-page="novaagentapplications_view"][data-cellid="grid_c227"][data-page="novaagentapplications_view"][data-cellid="grid_c227"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c229"][data-page="novaagentapplications_view"][data-cellid="grid_c229"][data-page="novaagentapplications_view"][data-cellid="grid_c229"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c231"][data-page="novaagentapplications_view"][data-cellid="grid_c231"][data-page="novaagentapplications_view"][data-cellid="grid_c231"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c233"][data-page="novaagentapplications_view"][data-cellid="grid_c233"][data-page="novaagentapplications_view"][data-cellid="grid_c233"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c235"][data-page="novaagentapplications_view"][data-cellid="grid_c235"][data-page="novaagentapplications_view"][data-cellid="grid_c235"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c237"][data-page="novaagentapplications_view"][data-cellid="grid_c237"][data-page="novaagentapplications_view"][data-cellid="grid_c237"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c239"][data-page="novaagentapplications_view"][data-cellid="grid_c239"][data-page="novaagentapplications_view"][data-cellid="grid_c239"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c241"][data-page="novaagentapplications_view"][data-cellid="grid_c241"][data-page="novaagentapplications_view"][data-cellid="grid_c241"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c243"][data-page="novaagentapplications_view"][data-cellid="grid_c243"][data-page="novaagentapplications_view"][data-cellid="grid_c243"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c245"][data-page="novaagentapplications_view"][data-cellid="grid_c245"][data-page="novaagentapplications_view"][data-cellid="grid_c245"][data-page="novaagentapplications_view"] {
  width: 200px;
}
[data-cellid="grid_c247"][data-page="novaagentapplications_view"][data-cellid="grid_c247"][data-page="novaagentapplications_view"][data-cellid="grid_c247"][data-page="novaagentapplications_view"] {
  width: 150px;
}
[data-cellid="grid_c249"][data-page="novaagentapplications_view"][data-cellid="grid_c249"][data-page="novaagentapplications_view"][data-cellid="grid_c249"][data-page="novaagentapplications_view"] {
  width: 150px;
}


