[data-cellid="grid_cell_label3"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label3"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label3"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  background-color: #f1fafd;
  border: solid #52bfff 1px;
}
[data-cellid="grid_cell_label6"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label6"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label6"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label9"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label9"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label9"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field9"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field9"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field9"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label10"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label10"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label10"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field10"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field10"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field10"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label11"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label11"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label11"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field11"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field11"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field11"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label12"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label12"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label12"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field12"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field12"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field12"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label13"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label13"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label13"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field13"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field13"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field13"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label14"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label14"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label14"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field14"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field14"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field14"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label15"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label15"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label15"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field15"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field15"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field15"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label16"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label16"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label16"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field16"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field16"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field16"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label17"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label17"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label17"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field17"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field17"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field17"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label18"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label18"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label18"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field18"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field18"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field18"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field19"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field19"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field19"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label20"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label20"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label20"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field20"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field20"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field20"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label24"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label24"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label24"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field24"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field24"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field24"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label25"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label25"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label25"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field25"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field25"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field25"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label26"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label26"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label26"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field26"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field26"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field26"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field60"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field60"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field60"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field61"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field61"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field61"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  background-color: #f1fafd;
  border: solid #52bfff 1px;
}
[data-cellid="grid_cell_field62"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field62"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field62"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field63"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field63"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field63"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field64"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field64"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field64"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field65"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field65"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field65"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field66"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field66"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field66"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field67"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field67"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field67"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field68"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field68"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field68"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field69"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field69"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field69"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field70"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field70"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field70"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field71"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field71"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field71"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field72"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field72"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field72"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field73"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field73"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field73"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field74"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field74"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field74"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field75"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field75"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field75"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field76"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field76"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field76"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field77"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field77"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field77"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field78"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field78"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field78"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field79"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field79"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field79"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field80"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field80"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field80"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field81"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field81"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field81"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field82"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field82"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field82"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field83"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field83"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field83"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field84"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field84"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field84"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label54"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label54"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label54"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label55"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label55"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label55"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label56"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label56"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label56"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label57"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label57"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label57"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label58"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label58"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label58"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label59"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label59"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label59"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label60"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label60"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label60"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label61"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label61"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label61"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label62"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label62"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label62"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label63"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label63"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label63"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label64"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label64"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label64"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label65"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label65"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label65"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label73"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label73"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label73"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label74"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label74"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label74"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label72"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label72"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label72"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  background-color: #f1fafd;
  border: solid #52bfff 1px;
}
[data-cellid="grid_cell_label66"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label66"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label66"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label67"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label67"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label67"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  white-space: nowrap;
}
[data-cellid="grid_cell_label77"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label77"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label77"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field85"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field85"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field85"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field86"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field86"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field86"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label68"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label68"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label68"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  background-color: #f1fafd;
  border: solid #52bfff 1px;
}
[data-cellid="grid_cell_label69"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label69"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label69"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label70"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label70"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label70"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label71"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label71"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label71"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label75"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label75"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label75"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label76"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label76"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label76"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field97"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field97"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field97"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field98"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field98"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field98"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field99"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field99"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field99"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field100"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field100"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field100"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field101"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field101"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field101"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field102"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field102"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field102"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field103"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field103"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field103"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field104"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field104"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field104"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field105"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field105"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field105"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field106"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field106"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field106"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field107"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field107"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field107"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field108"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field108"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field108"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label81"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label81"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label81"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label87"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label87"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label87"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label91"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label91"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label91"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label94"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label94"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label94"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label95"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label95"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label95"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label96"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label96"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label96"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label97"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label97"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label97"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label98"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label98"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label98"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label99"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label99"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label99"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label100"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label100"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label100"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label101"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label101"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label101"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label102"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label102"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label102"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label103"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label103"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label103"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label104"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label104"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label104"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label105"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label105"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label105"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label106"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label106"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label106"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label107"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label107"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label107"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label108"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label108"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label108"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label109"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label109"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label109"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label110"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label110"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label110"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label111"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label111"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label111"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label112"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label112"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label112"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label113"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label113"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label113"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label114"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label114"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label114"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  background-color: #f1fafd;
  border: solid #52bfff 1px;
}
[data-cellid="grid_cell_label121"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label121"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label121"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label122"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label122"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label122"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label123"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label123"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label123"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label124"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label124"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label124"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label125"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label125"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label125"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label126"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label126"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label126"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label127"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label127"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label127"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label128"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label128"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label128"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label129"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label129"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label129"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label130"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label130"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label130"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label131"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label131"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label131"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label132"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label132"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label132"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field109"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field109"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field109"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field110"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field110"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field110"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field111"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field111"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field111"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field112"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field112"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field112"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  padding-top: 15px;
}
[data-cellid="grid_cell_field113"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field113"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field113"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label133"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label133"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label133"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label134"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label134"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label134"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label135"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label135"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label135"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label136"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label136"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label136"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label137"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label137"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label137"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_label138"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label138"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_label138"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field114"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field114"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field114"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field115"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field115"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field115"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field116"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field116"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field116"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field117"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field117"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field117"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field118"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field118"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field118"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field119"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field119"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field119"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field93"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field93"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field93"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field94"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field94"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field94"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
  font-weight: bold;
  padding-top: 30px;
}
[data-cellid="grid_cell_field120"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field120"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field120"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  background-color: #fff9c8;
  border: none;
}
[data-cellid="grid_cell_field121"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field121"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field121"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  background-color: #fff9c8;
  border: none;
}
[data-cellid="grid_cell_field126"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field126"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field126"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  background-color: #fff9c8;
  border: none;
}
[data-cellid="grid_cell_field127"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field127"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field127"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  background-color: #fff9c8;
  border: none;
}
[data-cellid="grid_cell_field91"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field91"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field91"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field92"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field92"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field92"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field96"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field96"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field96"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field122"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field122"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field122"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field123"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field123"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field123"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field95"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field95"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field95"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field124"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field124"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field124"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field128"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field128"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field128"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field129"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field129"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field129"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-cellid="grid_cell_field130"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field130"][data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-cellid="grid_cell_field130"][data-page="novaapplicationsbackofficeview_novaInlineAddList"] {
  border: none;
}
[data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-itemid="text"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-itemid="text1"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-itemid="text2"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-itemid="text3"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-itemid="text4"] {
  font-weight: bold;
  font-size: 16px;
}
[data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-itemid="image"] {
  padding-top: 12px;
}
[data-page="novaapplicationsbackofficeview_novaInlineAddList"][data-itemid="text5"] {
  font-weight: bold;
  font-size: 20px;
}


