[data-cellid="above-grid_c1"][data-page="orderitems_list"][data-cellid="above-grid_c1"][data-page="orderitems_list"][data-cellid="above-grid_c1"][data-page="orderitems_list"] {
  padding-top: 10px;
}
[data-cellid="above-grid_c2"][data-page="orderitems_list"][data-cellid="above-grid_c2"][data-page="orderitems_list"][data-cellid="above-grid_c2"][data-page="orderitems_list"] {
  padding-top: 10px;
}
[data-cellid="grid_headcell_field2"][data-page="orderitems_list"][data-cellid="grid_headcell_field2"][data-page="orderitems_list"][data-cellid="grid_headcell_field2"][data-page="orderitems_list"] {
  width: 400px;
}
[data-cellid="grid_footcell_field2"][data-page="orderitems_list"][data-cellid="grid_footcell_field2"][data-page="orderitems_list"][data-cellid="grid_footcell_field2"][data-page="orderitems_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field3"][data-page="orderitems_list"][data-cellid="grid_headcell_field3"][data-page="orderitems_list"][data-cellid="grid_headcell_field3"][data-page="orderitems_list"] {
  width: 50px;
}
[data-cellid="grid_footcell_field3"][data-page="orderitems_list"][data-cellid="grid_footcell_field3"][data-page="orderitems_list"][data-cellid="grid_footcell_field3"][data-page="orderitems_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field4"][data-page="orderitems_list"][data-cellid="grid_headcell_field4"][data-page="orderitems_list"][data-cellid="grid_headcell_field4"][data-page="orderitems_list"] {
  width: 50px;
}
[data-cellid="grid_footcell_field4"][data-page="orderitems_list"][data-cellid="grid_footcell_field4"][data-page="orderitems_list"][data-cellid="grid_footcell_field4"][data-page="orderitems_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field5"][data-page="orderitems_list"][data-cellid="grid_headcell_field5"][data-page="orderitems_list"][data-cellid="grid_headcell_field5"][data-page="orderitems_list"] {
  width: 50px;
}
[data-cellid="grid_footcell_field5"][data-page="orderitems_list"][data-cellid="grid_footcell_field5"][data-page="orderitems_list"][data-cellid="grid_footcell_field5"][data-page="orderitems_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field6"][data-page="orderitems_list"][data-cellid="grid_headcell_field6"][data-page="orderitems_list"][data-cellid="grid_headcell_field6"][data-page="orderitems_list"] {
  width: 70px;
}
[data-cellid="grid_footcell_field6"][data-page="orderitems_list"][data-cellid="grid_footcell_field6"][data-page="orderitems_list"][data-cellid="grid_footcell_field6"][data-page="orderitems_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="orderitems_list"][data-cellid="grid_headcell_checkbox"][data-page="orderitems_list"][data-cellid="grid_headcell_checkbox"][data-page="orderitems_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_icons"][data-page="orderitems_list"][data-cellid="grid_headcell_icons"][data-page="orderitems_list"][data-cellid="grid_headcell_icons"][data-page="orderitems_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="orderitems_list"][data-cellid="grid_cell_icons"][data-page="orderitems_list"][data-cellid="grid_cell_icons"][data-page="orderitems_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field7"][data-page="orderitems_list"][data-cellid="grid_headcell_field7"][data-page="orderitems_list"][data-cellid="grid_headcell_field7"][data-page="orderitems_list"] {
  width: 50px;
}
[data-cellid="grid_headcell_field9"][data-page="orderitems_list"][data-cellid="grid_headcell_field9"][data-page="orderitems_list"][data-cellid="grid_headcell_field9"][data-page="orderitems_list"] {
  white-space: nowrap;
}
[data-page="orderitems_list"][data-itemid="simple_grid_field2"] {
  width: 395px;
}
[data-page="orderitems_list"][data-itemid="simple_grid_field3"] {
  width: 45px;
}
[data-page="orderitems_list"][data-itemid="simple_grid_field4"] {
  width: 45px;
}
[data-page="orderitems_list"][data-itemid="simple_grid_field8"] {
  width: 45px;
}
[data-page="orderitems_list"][data-itemid="simple_grid_field5"] {
  width: 65px;
  font-weight: bold;
}
[data-page="orderitems_list"][data-itemid="grid_field1"] {
  width: 45px;
}


