[data-cellid="grid_c3"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c3"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c3"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c4"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c4"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c4"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c5"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c5"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c5"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c6"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c6"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c6"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c9"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c9"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c9"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c54"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c54"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c54"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c56"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c56"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c56"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c57"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c57"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c57"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c59"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c59"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c59"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c61"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c61"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c61"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}
[data-cellid="grid_c63"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c63"][data-page="vagentperformancereport_v2_search"][data-cellid="grid_c63"][data-page="vagentperformancereport_v2_search"] {
  width: 180px;
}


