<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Προβολή όλων">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="callsforredial_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Εύρεση		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Εμφάνιση πάνελ αναζήτησης		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Απόκρυψη πάνελ αναζήτησης		
		</a>
	</li>
{END searchPanelTopButtons}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Είσοδος			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Έξοδος		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Περιοχή Διαχειριστή		
		</a>
	</li>
{END adminarea_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c1" data-pageid="{$pageid}">
 
<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Αναζήτηση			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Εμφάνιση επιλογών</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>Όλες οι συνθήκες</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>Όποια από τις συνθήκες</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>Απόκρυψη</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_redialTime}


		<div class="form-group srchPanelRow {$filterRow_class_redialTime}" {$filterRow_attrs_redialTime}>
			<label>{$label callsForRedial redialTime }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_redialTime}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_redialTime}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_redialTime}</span>
						</div>
		{END searchCtrlBlock_redialTime}
																{BEGIN searchCtrlBlock_id}


		<div class="form-group srchPanelRow {$filterRow_class_id}" {$filterRow_attrs_id}>
			<label>{$label callsForRedial id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_id}</span>
						</div>
		{END searchCtrlBlock_id}
																{BEGIN searchCtrlBlock_dialerRecording}


		<div class="form-group srchPanelRow {$filterRow_class_dialerRecording}" {$filterRow_attrs_dialerRecording}>
			<label>{$label callsForRedial dialerRecording }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_dialerRecording}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_dialerRecording}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_dialerRecording}</span>
						</div>
		{END searchCtrlBlock_dialerRecording}
																{BEGIN searchCtrlBlock_dialerAgent}


		<div class="form-group srchPanelRow {$filterRow_class_dialerAgent}" {$filterRow_attrs_dialerAgent}>
			<label>{$label callsForRedial dialerAgent }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_dialerAgent}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_dialerAgent}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_dialerAgent}</span>
						</div>
		{END searchCtrlBlock_dialerAgent}
																{BEGIN searchCtrlBlock_dialerPhone}


		<div class="form-group srchPanelRow {$filterRow_class_dialerPhone}" {$filterRow_attrs_dialerPhone}>
			<label>{$label callsForRedial dialerPhone }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_dialerPhone}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_dialerPhone}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_dialerPhone}</span>
						</div>
		{END searchCtrlBlock_dialerPhone}
																{BEGIN searchCtrlBlock_redialDone}


		<div class="form-group srchPanelRow {$filterRow_class_redialDone}" {$filterRow_attrs_redialDone}>
			<label>{$label callsForRedial redialDone }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_redialDone}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_redialDone}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_redialDone}</span>
						</div>
		{END searchCtrlBlock_redialDone}
																{BEGIN searchCtrlBlock_redialIsPrivate}


		<div class="form-group srchPanelRow {$filterRow_class_redialIsPrivate}" {$filterRow_attrs_redialIsPrivate}>
			<label>{$label callsForRedial redialIsPrivate }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_redialIsPrivate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_redialIsPrivate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_redialIsPrivate}</span>
						</div>
		{END searchCtrlBlock_redialIsPrivate}
																{BEGIN searchCtrlBlock_redialComments}


		<div class="form-group srchPanelRow {$filterRow_class_redialComments}" {$filterRow_attrs_redialComments}>
			<label>{$label callsForRedial redialComments }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_redialComments}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_redialComments}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_redialComments}</span>
						</div>
		{END searchCtrlBlock_redialComments}
																{BEGIN searchCtrlBlock_redialDate}


		<div class="form-group srchPanelRow {$filterRow_class_redialDate}" {$filterRow_attrs_redialDate}>
			<label>{$label callsForRedial redialDate }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_redialDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_redialDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_redialDate}</span>
						</div>
		{END searchCtrlBlock_redialDate}
																{BEGIN searchCtrlBlock_callSubClassificationID}


		<div class="form-group srchPanelRow {$filterRow_class_callSubClassificationID}" {$filterRow_attrs_callSubClassificationID}>
			<label>{$label callsForRedial callSubClassificationID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_callSubClassificationID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_callSubClassificationID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_callSubClassificationID}</span>
						</div>
		{END searchCtrlBlock_callSubClassificationID}
																{BEGIN searchCtrlBlock_callClassificationID}


		<div class="form-group srchPanelRow {$filterRow_class_callClassificationID}" {$filterRow_attrs_callClassificationID}>
			<label>{$label callsForRedial callClassificationID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_callClassificationID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_callClassificationID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_callClassificationID}</span>
						</div>
		{END searchCtrlBlock_callClassificationID}
																{BEGIN searchCtrlBlock_totalCallTime}


		<div class="form-group srchPanelRow {$filterRow_class_totalCallTime}" {$filterRow_attrs_totalCallTime}>
			<label>{$label callsForRedial totalCallTime }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_totalCallTime}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_totalCallTime}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_totalCallTime}</span>
						</div>
		{END searchCtrlBlock_totalCallTime}
																{BEGIN searchCtrlBlock_callTime}


		<div class="form-group srchPanelRow {$filterRow_class_callTime}" {$filterRow_attrs_callTime}>
			<label>{$label callsForRedial callTime }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_callTime}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_callTime}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_callTime}</span>
						</div>
		{END searchCtrlBlock_callTime}
																{BEGIN searchCtrlBlock_callDate}


		<div class="form-group srchPanelRow {$filterRow_class_callDate}" {$filterRow_attrs_callDate}>
			<label>{$label callsForRedial callDate }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_callDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_callDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_callDate}</span>
						</div>
		{END searchCtrlBlock_callDate}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Αναζήτηση</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Προβολή όλων</button>
	</div>
</div>
<!-- End Search panel content -->
</td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>		</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="id"]:before {
		content: "{$label callsForRedial id}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="dialerPhone"]:before {
		content: "{$label callsForRedial dialerPhone}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="dialerAgent"]:before {
		content: "{$label callsForRedial dialerAgent}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="callDate"]:before {
		content: "{$label callsForRedial callDate}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="callTime"]:before {
		content: "{$label callsForRedial callTime}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="redialDate"]:before {
		content: "{$label callsForRedial redialDate}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="redialTime"]:before {
		content: "{$label callsForRedial redialTime}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="redialComments"]:before {
		content: "{$label callsForRedial redialComments}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="redialIsPrivate"]:before {
		content: "{$label callsForRedial redialIsPrivate}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="redialDone"]:before {
		content: "{$label callsForRedial redialDone}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="callClassificationID"]:before {
		content: "{$label callsForRedial callClassificationID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="callSubClassificationID"]:before {
		content: "{$label callsForRedial callSubClassificationID}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="dialerRecording"]:before {
		content: "{$label callsForRedial dialerRecording}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field}
	<th
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field18}
	<th
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert				{$dialerAgent_class}
			"

			data-field="dialerAgent"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN dialerAgent_fieldheadercolumn}
	{BEGIN dialerAgent_fieldheader}
	<SPAN {$dialerAgent_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="dialerAgent">
	{$label callsForRedial dialerAgent }	{$arrow_icon_dialerAgent}
	</SPAN>
	{END dialerAgent_fieldheader}
{END dialerAgent_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_cell_field18}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$callDate_class}
			"

			data-field="callDate"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN callDate_fieldheadercolumn}
	{BEGIN callDate_fieldheader}
	<SPAN {$callDate_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="callDate">
	{$label callsForRedial callDate }	{$arrow_icon_callDate}
	</SPAN>
	{END callDate_fieldheader}
{END callDate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$callTime_class}
			"

			data-field="callTime"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN callTime_fieldheadercolumn}
	{BEGIN callTime_fieldheader}
	<SPAN {$callTime_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="callTime">
	{$label callsForRedial callTime }	{$arrow_icon_callTime}
	</SPAN>
	{END callTime_fieldheader}
{END callTime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field}
	<th
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$redialDate_class}
			"

			data-field="redialDate"
	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN redialDate_fieldheadercolumn}
	{BEGIN redialDate_fieldheader}
	<SPAN {$redialDate_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="redialDate">
	{$label callsForRedial redialDate }	{$arrow_icon_redialDate}
	</SPAN>
	{END redialDate_fieldheader}
{END redialDate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field18}
	<th
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert				{$redialTime_class}
			"

			data-field="redialTime"
	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN redialTime_fieldheadercolumn}
	{BEGIN redialTime_fieldheader}
	<SPAN {$redialTime_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="redialTime">
	{$label callsForRedial redialTime }	{$arrow_icon_redialTime}
	</SPAN>
	{END redialTime_fieldheader}
{END redialTime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_footcell_field18}
				 
					{BEGIN cellblock_grid_footcell_field21}
	<th
	
	{$cell_grid_footcell_field21}
	{$recordattrs}
	class="
		 r-ori-vert				{$redialComments_class}
			"

			data-field="redialComments"
	
	data-cellId="grid_footcell_field21" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN redialComments_fieldheadercolumn}
	{BEGIN redialComments_fieldheader}
	<SPAN {$redialComments_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="redialComments">
	{$label callsForRedial redialComments }	{$arrow_icon_redialComments}
	</SPAN>
	{END redialComments_fieldheader}
{END redialComments_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_footcell_field21}
				 
					{BEGIN cellblock_grid_footcell_field24}
	<th
	
	{$cell_grid_footcell_field24}
	{$recordattrs}
	class="
		 r-ori-vert				{$redialIsPrivate_class}
			"

			data-field="redialIsPrivate"
	
	data-cellId="grid_footcell_field24" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN redialIsPrivate_fieldheadercolumn}
	{BEGIN redialIsPrivate_fieldheader}
	<SPAN {$redialIsPrivate_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="redialIsPrivate">
	{$label callsForRedial redialIsPrivate }	{$arrow_icon_redialIsPrivate}
	</SPAN>
	{END redialIsPrivate_fieldheader}
{END redialIsPrivate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_footcell_field24}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$callClassificationID_class}
			"

			data-field="callClassificationID"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN callClassificationID_fieldheadercolumn}
	{BEGIN callClassificationID_fieldheader}
	<SPAN {$callClassificationID_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="callClassificationID">
	{$label callsForRedial callClassificationID }	{$arrow_icon_callClassificationID}
	</SPAN>
	{END callClassificationID_fieldheader}
{END callClassificationID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$callSubClassificationID_class}
			"

			data-field="callSubClassificationID"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN callSubClassificationID_fieldheadercolumn}
	{BEGIN callSubClassificationID_fieldheader}
	<SPAN {$callSubClassificationID_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="callSubClassificationID">
	{$label callsForRedial callSubClassificationID }	{$arrow_icon_callSubClassificationID}
	</SPAN>
	{END callSubClassificationID_fieldheader}
{END callSubClassificationID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$redialDone_class}
			"

			data-field="redialDone"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN redialDone_fieldheadercolumn}
	{BEGIN redialDone_fieldheader}
	<SPAN {$redialDone_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="redialDone">
	{$label callsForRedial redialDone }	{$arrow_icon_redialDone}
	</SPAN>
	{END redialDone_fieldheader}
{END redialDone_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
				 
					{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$dialerPhone_class}
			"

			data-field="dialerPhone"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN dialerPhone_fieldheadercolumn}
	{BEGIN dialerPhone_fieldheader}
	<SPAN {$dialerPhone_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="dialerPhone">
	{$label callsForRedial dialerPhone }	{$arrow_icon_dialerPhone}
	</SPAN>
	{END dialerPhone_fieldheader}
{END dialerPhone_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
				 
					{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$dialerRecording_class}
			"

			data-field="dialerRecording"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN dialerRecording_fieldheadercolumn}
	{BEGIN dialerRecording_fieldheader}
	<SPAN {$dialerRecording_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="dialerRecording">
	{$label callsForRedial dialerRecording }	{$arrow_icon_dialerRecording}
	</SPAN>
	{END dialerRecording_fieldheader}
{END dialerRecording_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$id_class}
			"

			data-field="id"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_fieldheadercolumn}
	{BEGIN id_fieldheader}
	<SPAN {$id_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="grid_field_label" {$item_grid_field_label} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id">
	{$label callsForRedial id }	{$arrow_icon_id}
	</SPAN>
	{END id_fieldheader}
{END id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
						<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		<span data-itemtype="custom_button" data-itemid="custom_button" {$item_custom_button} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="executeCallback" href="javascript:void(0)" typeid="ib" >
							executeCallback			</a>
</span>
	
	</td>
					 
					{BEGIN cellblock_grid_cell_field19}
	<td
	
	{$cell_grid_cell_field19}
	{$recordattrs}
	class="
		 r-ori-vert				{$dialerAgent_class}
			"

			data-field="dialerAgent"
	
	data-cellId="grid_cell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN dialerAgent_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="dialerAgent" data-default-width >
{$dialerAgent_value}
</span>
{END dialerAgent_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field19}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$callDate_class}
			"

			data-field="callDate"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN callDate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="callDate" data-default-width >
{$callDate_value}
</span>
{END callDate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$callTime_class}
			"

			data-field="callTime"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN callTime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="callTime" data-default-width >
{$callTime_value}
</span>
{END callTime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert				{$redialDate_class}
			"

			data-field="redialDate"
	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN redialDate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="redialDate" data-default-width >
{$redialDate_value}
</span>
{END redialDate_fieldcolumn}	
	</td>
	{END cellblock_grid_footcell_field16}
				 
					{BEGIN cellblock_grid_footcell_field19}
	<td
	
	{$cell_grid_footcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert				{$redialTime_class}
			"

			data-field="redialTime"
	
	data-cellId="grid_footcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN redialTime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="redialTime" data-default-width >
{$redialTime_value}
</span>
{END redialTime_fieldcolumn}	
	</td>
	{END cellblock_grid_footcell_field19}
				 
					{BEGIN cellblock_grid_footcell_field22}
	<td
	
	{$cell_grid_footcell_field22}
	{$recordattrs}
	class="
		 r-ori-vert				{$redialComments_class}
			"

			data-field="redialComments"
	
	data-cellId="grid_footcell_field22" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN redialComments_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="redialComments" data-default-width >
{$redialComments_value}
</span>
{END redialComments_fieldcolumn}	
	</td>
	{END cellblock_grid_footcell_field22}
				 
					{BEGIN cellblock_grid_footcell_field25}
	<td
	
	{$cell_grid_footcell_field25}
	{$recordattrs}
	class="
		 r-ori-vert				{$redialIsPrivate_class}
			"

			data-field="redialIsPrivate"
	
	data-cellId="grid_footcell_field25" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN redialIsPrivate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="redialIsPrivate" data-default-width >
{$redialIsPrivate_value}
</span>
{END redialIsPrivate_fieldcolumn}	
	</td>
	{END cellblock_grid_footcell_field25}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$callClassificationID_class}
			"

			data-field="callClassificationID"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN callClassificationID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="callClassificationID" data-default-width >
{$callClassificationID_value}
</span>
{END callClassificationID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$callSubClassificationID_class}
			"

			data-field="callSubClassificationID"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN callSubClassificationID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="callSubClassificationID" data-default-width >
{$callSubClassificationID_value}
</span>
{END callSubClassificationID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$redialDone_class}
			"

			data-field="redialDone"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN redialDone_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="redialDone" data-default-width >
{$redialDone_value}
</span>
{END redialDone_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
				 
					{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$dialerPhone_class}
			"

			data-field="dialerPhone"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN dialerPhone_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="dialerPhone" data-default-width >
{$dialerPhone_value}
</span>
{END dialerPhone_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
				 
					{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$dialerRecording_class}
			"

			data-field="dialerRecording"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN dialerRecording_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="dialerRecording" data-default-width >
{$dialerRecording_value}
</span>
{END dialerRecording_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$id_class}
			"

			data-field="id"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="id" data-default-width >
{$id_value}
</span>
{END id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_cell_field17}
				 
					{BEGIN cellblock_grid_cell_field20}
	<td
	
	{$cell_grid_cell_field20}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field20" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_cell_field20}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
				 
					{BEGIN cellblock_grid_footcell_field20}
	<td
	
	{$cell_grid_footcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field20}
				 
					{BEGIN cellblock_grid_footcell_field23}
	<td
	
	{$cell_grid_footcell_field23}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field23" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field23}
				 
					{BEGIN cellblock_grid_footcell_field26}
	<td
	
	{$cell_grid_footcell_field26}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field26" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field26}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
				 
					{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
				 
					{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="callsforredial_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
