<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-report" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="center"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="callsnegativereport_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Εύρεση		
		</a>
	</li>
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export_report_excel" data-itemid="export_report_excel" {$item_export_report_excel} data-pageid="{$pageid}" data-small >
				<a  href="callsnegativereport_print.php?all=1&amp;format=excel{$stateLink}" {$excellink_attrs}  title="" >
				
		Εξαγωγή σε Excel		
		</a>
	</li>
{END export_link}
							{BEGIN export_link}
	<li data-itemtype="export_report_word" data-itemid="export_report_word" {$item_export_report_word} data-pageid="{$pageid}" data-small >
				<a  href="callsnegativereport_print.php?all=1&amp;format=word{$stateLink}" {$wordlink_attrs}  title="" >
				
		Εξαγωγή σε Word		
		</a>
	</li>
{END export_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Είσοδος			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Έξοδος		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Περιοχή Διαχειριστή		
		</a>
	</li>
{END adminarea_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="center"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}		</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c2" data-pageid="{$pageid}">
 
<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
<!--
	<button type="button" class="btn btn-info bs-togglebutton bottom-margin collapsed" data-runner-toggle="collapse" data-target=".filterPanelContainer">	
		<span class="glyphicon glyphicon-filter"><span> Filter	
	</button>
-->	
	<div class="filterPanelContainer {$filterPanelStateClass}">



			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_callTimeBreak}
		<div class="panel panel-info filter-field filter-callTimeBreak-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label callsNegativeReport callTimeBreak }</label>

				{BEGIN clearLink_callTimeBreak}
				<a href="#" class="filter-clear filter-clear-callTimeBreak">Καθάρισμα</a>
				{END clearLink_callTimeBreak}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_callTimeBreak}
				<li class="list-group-item filter-values filter-values-callTimeBreak {$collapsedClass_callTimeBreak} {$visibilityClass_callTimeBreak}">
					{$callTimeBreak_filter}
								
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_callTimeBreak}

							{BEGIN filter_button_showmore_callTimeBreak}
				<li class="list-group-item filter-show-more {$collapsedClass_callTimeBreak} {$showMoreBtnClass_callTimeBreak}">
					<a class="filter-show-more-link filterShowMore_callTimeBreak" href="#">{$show_n_more_callTimeBreak}</a>
				</li>
				{END filter_button_showmore_callTimeBreak}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_callTimeBreak}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_forCount}
		<div class="panel panel-info filter-field filter-forCount-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label callsNegativeReport forCount }</label>

				{BEGIN clearLink_forCount}
				<a href="#" class="filter-clear filter-clear-forCount">Καθάρισμα</a>
				{END clearLink_forCount}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_forCount}
				<li class="list-group-item filter-values filter-values-forCount {$collapsedClass_forCount} {$visibilityClass_forCount}">
					{$forCount_filter}
								
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_forCount}

							{BEGIN filter_button_showmore_forCount}
				<li class="list-group-item filter-show-more {$collapsedClass_forCount} {$showMoreBtnClass_forCount}">
					<a class="filter-show-more-link filterShowMore_forCount" href="#">{$show_n_more_forCount}</a>
				</li>
				{END filter_button_showmore_forCount}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_forCount}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_dialerAgent}
		<div class="panel panel-info filter-field filter-dialerAgent-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label callsNegativeReport dialerAgent }</label>

				{BEGIN clearLink_dialerAgent}
				<a href="#" class="filter-clear filter-clear-dialerAgent">Καθάρισμα</a>
				{END clearLink_dialerAgent}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_dialerAgent}
				<li class="list-group-item filter-values filter-values-dialerAgent {$collapsedClass_dialerAgent} {$visibilityClass_dialerAgent}">
					{$dialerAgent_filter}
								
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_dialerAgent}

							{BEGIN filter_button_showmore_dialerAgent}
				<li class="list-group-item filter-show-more {$collapsedClass_dialerAgent} {$showMoreBtnClass_dialerAgent}">
					<a class="filter-show-more-link filterShowMore_dialerAgent" href="#">{$show_n_more_dialerAgent}</a>
				</li>
				{END filter_button_showmore_dialerAgent}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_dialerAgent}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_callResult}
		<div class="panel panel-info filter-field filter-callResult-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label callsNegativeReport callResult }</label>

				{BEGIN clearLink_callResult}
				<a href="#" class="filter-clear filter-clear-callResult">Καθάρισμα</a>
				{END clearLink_callResult}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_callResult}
				<li class="list-group-item filter-values filter-values-callResult {$collapsedClass_callResult} {$visibilityClass_callResult}">
					{$callResult_filter}
								
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_callResult}

							{BEGIN filter_button_showmore_callResult}
				<li class="list-group-item filter-show-more {$collapsedClass_callResult} {$showMoreBtnClass_callResult}">
					<a class="filter-show-more-link filterShowMore_callResult" href="#">{$show_n_more_callResult}</a>
				</li>
				{END filter_button_showmore_callResult}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_callResult}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_dialerList}
		<div class="panel panel-info filter-field filter-dialerList-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label callsNegativeReport dialerList }</label>

				{BEGIN clearLink_dialerList}
				<a href="#" class="filter-clear filter-clear-dialerList">Καθάρισμα</a>
				{END clearLink_dialerList}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_dialerList}
				<li class="list-group-item filter-values filter-values-dialerList {$collapsedClass_dialerList} {$visibilityClass_dialerList}">
					{$dialerList_filter}
								
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_dialerList}

							{BEGIN filter_button_showmore_dialerList}
				<li class="list-group-item filter-show-more {$collapsedClass_dialerList} {$showMoreBtnClass_dialerList}">
					<a class="filter-show-more-link filterShowMore_dialerList" href="#">{$show_n_more_dialerList}</a>
				</li>
				{END filter_button_showmore_dialerList}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_dialerList}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_dialerCampaign}
		<div class="panel panel-info filter-field filter-dialerCampaign-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label callsNegativeReport dialerCampaign }</label>

				{BEGIN clearLink_dialerCampaign}
				<a href="#" class="filter-clear filter-clear-dialerCampaign">Καθάρισμα</a>
				{END clearLink_dialerCampaign}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_dialerCampaign}
				<li class="list-group-item filter-values filter-values-dialerCampaign {$collapsedClass_dialerCampaign} {$visibilityClass_dialerCampaign}">
					{$dialerCampaign_filter}
								
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_dialerCampaign}

							{BEGIN filter_button_showmore_dialerCampaign}
				<li class="list-group-item filter-show-more {$collapsedClass_dialerCampaign} {$showMoreBtnClass_dialerCampaign}">
					<a class="filter-show-more-link filterShowMore_dialerCampaign" href="#">{$show_n_more_dialerCampaign}</a>
				</li>
				{END filter_button_showmore_dialerCampaign}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_dialerCampaign}
	 
			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_callDate}
		<div class="panel panel-info filter-field filter-callDate-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label callsNegativeReport callDate }</label>

				{BEGIN clearLink_callDate}
				<a href="#" class="filter-clear filter-clear-callDate">Καθάρισμα</a>
				{END clearLink_callDate}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_callDate}
				<li class="list-group-item filter-values filter-values-callDate {$collapsedClass_callDate} {$visibilityClass_callDate}">
					{$callDate_filter}
								
			
			
			
			
			
			
			
			
			
			
			
			
			
			
				</li>				
				{END filterCtrlBlock_callDate}

							{BEGIN filter_button_showmore_callDate}
				<li class="list-group-item filter-show-more {$collapsedClass_callDate} {$showMoreBtnClass_callDate}">
					<a class="filter-show-more-link filterShowMore_callDate" href="#">{$show_n_more_callDate}</a>
				</li>
				{END filter_button_showmore_callDate}			
			


			

				
	
			</ul>			
		</div>
		{END filter_control_callDate}
	 
	</div>
</div></td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="custom_button" data-itemid="custom_button" {$item_custom_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="refreshPage" href="javascript:void(0)" typeid="ib" >
							Refresh Page			</a>
</span>
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$grpsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Εκτυπώσιμη σελίδα" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="callsnegativereport_print.php?all=1&amp;{$crosstable_attrs}" name="printScope">
									Εκτύπωση όλης της αναφοράς							</label>
		</div>
		{END print_friendly_all}
	</div>
	<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="callsnegativereport_print.php?{$crosstable_attrs}">
				Εκτύπωση αυτής της σελίδας			</label>
		</div>
	</div>
	
	</div>				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Ομάδες ανά σελίδα							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Εκτύπωση			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
	.rnr-report {
		width: 100%;
	}
	td {
		padding: 2px; 4px;
	}
			td.group_1{
			background-color: #90EE90;
		}
		td.nbgroup_1{
			background-color: #90EE90;
		}
		td.header_1 {
			background-color: #7ACA7A; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_2{
			background-color: #ADD8E6;
		}
		td.nbgroup_2{
			background-color: #ADD8E6;
		}
		td.header_2 {
			background-color: #93B7C3; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_3{
			background-color: #FFB6C1;
		}
		td.nbgroup_3{
			background-color: #FFB6C1;
		}
		td.header_3 {
			background-color: #D89AA4; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_4{
			background-color: #FFFACD;
		}
		td.nbgroup_4{
			background-color: #FFFACD;
		}
		td.header_4 {
			background-color: #D8D4AE; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_5{
			background-color: #B0E0E6;
		}
		td.nbgroup_5{
			background-color: #B0E0E6;
		}
		td.header_5 {
			background-color: #95BEC3; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
		td.blackshade {
		font-size: 120%;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
		.fieldnamesrow > * 
	{
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
	</style>

<div class="rnr-cw-grid rnr-s-2 asbuttons {$pageStyleName}" data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" >
					
 <!-- add to settings ? -->


<table class="table table-striped table-bordered rnr-b-grid rnr-gridtable" cellpadding="0" >
	<tbody>			
{BEGIN grid_row}
				<!--  group headers -->
	 
		{BEGIN dialerAgent_newgroup}							
		<tr class="group-spliter-1"  >
			<td class="header_1" colspan="4">
				{$label callsNegativeReport dialerAgent }:&nbsp;
				{$xdialerAgent_grval}
								<span data-itemtype="grid_field" data-field="dialerAgent" data-itemid="grid_field2" data-pageid={$pageid} data-record-id="{$recId}">
{$dialerAgent_grval}
</span>			</td>
		</tr>
		
				{END dialerAgent_newgroup}
	 
		{BEGIN callDate_newgroup}							
		<tr class="group-spliter-2"  >
			<td class="header_2" colspan="4">
				{$label callsNegativeReport callDate }:&nbsp;
				{$xcallDate_grval}
								<span data-itemtype="grid_field" data-field="callDate" data-itemid="grid_field3" data-pageid={$pageid} data-record-id="{$recId}">
{$callDate_grval}
</span>			</td>
		</tr>
		
				{END callDate_newgroup}
	 
		{BEGIN dialerCampaign_newgroup}							
		<tr class="group-spliter-3"  >
			<td class="header_3" colspan="4">
				{$label callsNegativeReport dialerCampaign }:&nbsp;
				{$xdialerCampaign_grval}
								<span data-itemtype="grid_field" data-field="dialerCampaign" data-itemid="grid_field4" data-pageid={$pageid} data-record-id="{$recId}">
{$dialerCampaign_grval}
</span>			</td>
		</tr>
		
				{END dialerCampaign_newgroup}
	 
		{BEGIN dialerList_newgroup}							
		<tr class="group-spliter-4"  >
			<td class="header_4" colspan="4">
				{$label callsNegativeReport dialerList }:&nbsp;
				{$xdialerList_grval}
								<span data-itemtype="grid_field" data-field="dialerList" data-itemid="grid_field5" data-pageid={$pageid} data-record-id="{$recId}">
{$dialerList_grval}
</span>			</td>
		</tr>
		
				{END dialerList_newgroup}
	 
		{BEGIN callResult_newgroup}							
		<tr class="group-spliter-5"  >
			<td class="header_5" colspan="4">
				{$label callsNegativeReport callResult }:&nbsp;
				{$xcallResult_grval}
								<span data-itemtype="grid_field" data-field="callResult" data-itemid="grid_field6" data-pageid={$pageid} data-record-id="{$recId}">
{$callResult_grval}
</span>			</td>
		</tr>
		
				<tr class="fieldnamesrow group-headers">
																																													<td class="blackshade {$fieldclass_talkTime}">{$label callsNegativeReport talkTime }</td>
														<td class="blackshade {$fieldclass_typingTime}">{$label callsNegativeReport typingTime }</td>
														<td class="blackshade {$fieldclass_totalCallTime}">{$label callsNegativeReport totalCallTime }</td>
														<td class="blackshade {$fieldclass_forCount}">{$label callsNegativeReport forCount }</td>
									</tr>
				{END callResult_newgroup}
		

			<!--  data-->
		{BEGIN row_data}
		<tr >
																																													<td class="data {$fieldclass_talkTime}">
			{$xtalkTime_value}
						<span data-itemtype="grid_field" data-field="talkTime" data-itemid="grid_field7" data-pageid={$pageid} data-record-id="{$recId}">
{$talkTime_value}
</span>			</td>
														<td class="data {$fieldclass_typingTime}">
			{$xtypingTime_value}
						<span data-itemtype="grid_field" data-field="typingTime" data-itemid="grid_field8" data-pageid={$pageid} data-record-id="{$recId}">
{$typingTime_value}
</span>			</td>
														<td class="data {$fieldclass_totalCallTime}">
			{$xtotalCallTime_value}
						<span data-itemtype="grid_field" data-field="totalCallTime" data-itemid="grid_field9" data-pageid={$pageid} data-record-id="{$recId}">
{$totalCallTime_value}
</span>			</td>
														<td class="data {$fieldclass_forCount}">
			{$xforCount_value}
						<span data-itemtype="grid_field" data-field="forCount" data-itemid="grid_field10" data-pageid={$pageid} data-record-id="{$recId}">
{$forCount_value}
</span>			</td>
									</tr>
		{END row_data}
	
	<!---  group summary-->
					{BEGIN callResult_endgroup}

		<tr >
					<td class="group_5" colspan="4">
				Σύνολο για {$label callsNegativeReport callResult } {$callResult_grval} - <span class="summary-5" data-type="summary">
					{$groupcallResult_total_cnt}
				</span> Σύνολο εγγραφών			</td>			
				</tr>
		
					<!--  Sum -->
			<tr >
												<td class="group_5">
									Σύνολο									&nbsp;
									<span class="summary-5" data-type="sum" data-field="talkTime">					
						{$groupcallResult_totaltalkTime_sum}
					</span>			
							
				</td>
												<td class="group_5 {$fieldclass_typingTime}">
									&nbsp;
									<span class="summary-5" data-type="sum" data-field="typingTime">					
						{$groupcallResult_totaltypingTime_sum}
					</span>			
							
				</td>
												<td class="group_5 {$fieldclass_totalCallTime}">
									&nbsp;
									<span class="summary-5" data-type="sum" data-field="totalCallTime">					
						{$groupcallResult_totaltotalCallTime_sum}
					</span>			
							
				</td>
												<td class="group_5 {$fieldclass_forCount}">
									&nbsp;
									<span class="summary-5" data-type="sum" data-field="forCount">					
						{$groupcallResult_totalforCount_sum}
					</span>			
							
				</td>
						</tr>
		
		
		
			

		{END callResult_endgroup}
							{BEGIN dialerList_endgroup}

		<tr >
					<td class="group_4" colspan="4">
				Σύνολο για {$label callsNegativeReport dialerList } {$dialerList_grval} - <span class="summary-4" data-type="summary">
					{$groupdialerList_total_cnt}
				</span> Σύνολο εγγραφών			</td>			
				</tr>
		
					<!--  Sum -->
			<tr >
												<td class="group_4">
									Σύνολο									&nbsp;
									<span class="summary-4" data-type="sum" data-field="talkTime">					
						{$groupdialerList_totaltalkTime_sum}
					</span>			
							
				</td>
												<td class="group_4 {$fieldclass_typingTime}">
									&nbsp;
									<span class="summary-4" data-type="sum" data-field="typingTime">					
						{$groupdialerList_totaltypingTime_sum}
					</span>			
							
				</td>
												<td class="group_4 {$fieldclass_totalCallTime}">
									&nbsp;
									<span class="summary-4" data-type="sum" data-field="totalCallTime">					
						{$groupdialerList_totaltotalCallTime_sum}
					</span>			
							
				</td>
												<td class="group_4 {$fieldclass_forCount}">
									&nbsp;
									<span class="summary-4" data-type="sum" data-field="forCount">					
						{$groupdialerList_totalforCount_sum}
					</span>			
							
				</td>
						</tr>
		
		
		
			

		{END dialerList_endgroup}
							{BEGIN dialerCampaign_endgroup}

		<tr >
					<td class="group_3" colspan="4">
				Σύνολο για {$label callsNegativeReport dialerCampaign } {$dialerCampaign_grval} - <span class="summary-3" data-type="summary">
					{$groupdialerCampaign_total_cnt}
				</span> Σύνολο εγγραφών			</td>			
				</tr>
		
					<!--  Sum -->
			<tr >
												<td class="group_3">
									Σύνολο									&nbsp;
									<span class="summary-3" data-type="sum" data-field="talkTime">					
						{$groupdialerCampaign_totaltalkTime_sum}
					</span>			
							
				</td>
												<td class="group_3 {$fieldclass_typingTime}">
									&nbsp;
									<span class="summary-3" data-type="sum" data-field="typingTime">					
						{$groupdialerCampaign_totaltypingTime_sum}
					</span>			
							
				</td>
												<td class="group_3 {$fieldclass_totalCallTime}">
									&nbsp;
									<span class="summary-3" data-type="sum" data-field="totalCallTime">					
						{$groupdialerCampaign_totaltotalCallTime_sum}
					</span>			
							
				</td>
												<td class="group_3 {$fieldclass_forCount}">
									&nbsp;
									<span class="summary-3" data-type="sum" data-field="forCount">					
						{$groupdialerCampaign_totalforCount_sum}
					</span>			
							
				</td>
						</tr>
		
		
		
			

		{END dialerCampaign_endgroup}
							{BEGIN callDate_endgroup}

		<tr >
					<td class="group_2" colspan="4">
				Σύνολο για {$label callsNegativeReport callDate } {$callDate_grval} - <span class="summary-2" data-type="summary">
					{$groupcallDate_total_cnt}
				</span> Σύνολο εγγραφών			</td>			
				</tr>
		
					<!--  Sum -->
			<tr >
												<td class="group_2">
									Σύνολο									&nbsp;
									<span class="summary-2" data-type="sum" data-field="talkTime">					
						{$groupcallDate_totaltalkTime_sum}
					</span>			
							
				</td>
												<td class="group_2 {$fieldclass_typingTime}">
									&nbsp;
									<span class="summary-2" data-type="sum" data-field="typingTime">					
						{$groupcallDate_totaltypingTime_sum}
					</span>			
							
				</td>
												<td class="group_2 {$fieldclass_totalCallTime}">
									&nbsp;
									<span class="summary-2" data-type="sum" data-field="totalCallTime">					
						{$groupcallDate_totaltotalCallTime_sum}
					</span>			
							
				</td>
												<td class="group_2 {$fieldclass_forCount}">
									&nbsp;
									<span class="summary-2" data-type="sum" data-field="forCount">					
						{$groupcallDate_totalforCount_sum}
					</span>			
							
				</td>
						</tr>
		
		
		
			

		{END callDate_endgroup}
							{BEGIN dialerAgent_endgroup}

		<tr >
					<td class="group_1" colspan="4">
				Σύνολο για {$label callsNegativeReport dialerAgent } {$dialerAgent_grval} - <span class="summary-1" data-type="summary">
					{$groupdialerAgent_total_cnt}
				</span> Σύνολο εγγραφών			</td>			
				</tr>
		
					<!--  Sum -->
			<tr >
												<td class="group_1">
									Σύνολο									&nbsp;
									<span class="summary-1" data-type="sum" data-field="talkTime">					
						{$groupdialerAgent_totaltalkTime_sum}
					</span>			
							
				</td>
												<td class="group_1 {$fieldclass_typingTime}">
									&nbsp;
									<span class="summary-1" data-type="sum" data-field="typingTime">					
						{$groupdialerAgent_totaltypingTime_sum}
					</span>			
							
				</td>
												<td class="group_1 {$fieldclass_totalCallTime}">
									&nbsp;
									<span class="summary-1" data-type="sum" data-field="totalCallTime">					
						{$groupdialerAgent_totaltotalCallTime_sum}
					</span>			
							
				</td>
												<td class="group_1 {$fieldclass_forCount}">
									&nbsp;
									<span class="summary-1" data-type="sum" data-field="forCount">					
						{$groupdialerAgent_totalforCount_sum}
					</span>			
							
				</td>
						</tr>
		
		
		
			

		{END dialerAgent_endgroup}
			
{END grid_row}

	{BEGIN summary_header}
	<tr class="summary-header">
						
						
						
						
						
							<td class="blackshade {$fieldclass_talkTime}">{$label callsNegativeReport talkTime }</td>
				
							<td class="blackshade {$fieldclass_typingTime}">{$label callsNegativeReport typingTime }</td>
				
							<td class="blackshade {$fieldclass_totalCallTime}">{$label callsNegativeReport totalCallTime }</td>
				
							<td class="blackshade {$fieldclass_forCount}">{$label callsNegativeReport forCount }</td>
				
			
	</tr>
	{END summary_header}			




    
    

	<!-- global summary-->
	{BEGIN global_summary}
    <tr class="summaryrow summary-global">
        <td class="globalsummary" colspan="9">
            Γενικό Σύνολο {$global_total_cnt} - Σύνολο εγγραφών        </td>
    </tr>

	    <!--  Sum -->
    <tr class="summary-global">
					
                <td class="globalsummary">Σύνολο&nbsp;{$global_totaltalkTime_sum}</td>
        		
					
                <td class="globalsummary {$fieldclass_typingTime}">
            {$global_totaltypingTime_sum}
        </td>
        		
					
                <td class="globalsummary {$fieldclass_totalCallTime}">
            {$global_totaltotalCallTime_sum}
        </td>
        		
					
                <td class="globalsummary {$fieldclass_forCount}">
            {$global_totalforCount_sum}
        </td>
        		
		</tr>
	
	
	
		{END global_summary}

	</tbody>
</table>		</div>
	{END grid_block}							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
