<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class=" r-ori-vert navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
							 
							 
				<span data-cellId="supertop_c2" data-pageid="{$pageid}" class=" r-ori-vert navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Είσοδος			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c3" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Έξοδος		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Περιοχή Διαχειριστή		
		</a>
	</li>
{END adminarea_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel callsForRedial search}</h2>
		</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="7"
		
		data-v-width="14"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}" data-page="callsforredial_search"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callDate_fieldblock}
<label class="control-label r-search-label" for="{$labelfor_callDate}" data-itemtype="search_field_label" data-itemid="search_field_label1" {$item_search_field_label1} data-pageid="{$pageid}" data-field="callDate">
	{$label callsForRedial callDate }</label>
{END callDate_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
			 
																

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}" data-page="callsforredial_search"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callDate_fieldblock}
<div class="r-search-option" data-itemtype="search_field_options" data-itemid="search_field_options1" {$item_search_field_options1} data-pageid="{$pageid}" data-field="callDate" >
	{$searchtype_callDate}
</div>
{END callDate_fieldblock}
	
								</td>
			{END cellblock_grid_c12}
			 
																

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}" data-page="callsforredial_search"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callDate_fieldblock}
<div class="r-search-field" data-itemtype="search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="callDate" data-before-same-field >
	{$callDate_editcontrol}</div>
{END callDate_fieldblock}
											{BEGIN callDate_fieldblock}
<div class="r-search-field" data-itemtype="search_field_between" data-itemid="search_field_between1" {$item_search_field_between1} data-pageid="{$pageid}" data-field="callDate" >
	{$callDate_editcontrol1}
</div>
{END callDate_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
		
							

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}" data-page="callsforredial_search"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c11}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}" data-page="callsforredial_search"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN dialerAgent_fieldblock}
<label class="control-label r-search-label" for="{$labelfor_dialerAgent}" data-itemtype="search_field_label" data-itemid="search_field_label" {$item_search_field_label} data-pageid="{$pageid}" data-field="dialerAgent">
	{$label callsForRedial dialerAgent }</label>
{END dialerAgent_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
			 
																

{BEGIN cellblock_grid_c74}
<td
	{$cell_grid_c74}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c74" data-pageid="{$pageid}" data-page="callsforredial_search"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN dialerAgent_fieldblock}
<div class="r-search-option" data-itemtype="search_field_options" data-itemid="search_field_options" {$item_search_field_options} data-pageid="{$pageid}" data-field="dialerAgent" >
	{$searchtype_dialerAgent}
</div>
{END dialerAgent_fieldblock}
	
								</td>
			{END cellblock_grid_c74}
			 
																

{BEGIN cellblock_grid_c36}
<td
	{$cell_grid_c36}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c36" data-pageid="{$pageid}" data-page="callsforredial_search"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN dialerAgent_fieldblock}
<div class="r-search-field" data-itemtype="search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="dialerAgent" data-before-same-field >
	{$dialerAgent_editcontrol}</div>
{END dialerAgent_fieldblock}
											{BEGIN dialerAgent_fieldblock}
<div class="r-search-field" data-itemtype="search_field_between" data-itemid="search_field_between" {$item_search_field_between} data-pageid="{$pageid}" data-field="dialerAgent" >
	{$dialerAgent_editcontrol1}
</div>
{END dialerAgent_fieldblock}
	
								</td>
			{END cellblock_grid_c36}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c34}
<td
	{$cell_grid_c34}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c34" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callTime_fieldblock}
<label class="control-label r-search-label" for="{$labelfor_callTime}" data-itemtype="search_field_label" data-itemid="search_field_label2" {$item_search_field_label2} data-pageid="{$pageid}" data-field="callTime">
	{$label callsForRedial callTime }</label>
{END callTime_fieldblock}
	
								</td>
			{END cellblock_grid_c34}
			 
																

{BEGIN cellblock_grid_c35}
<td
	{$cell_grid_c35}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c35" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callTime_fieldblock}
<div class="r-search-option" data-itemtype="search_field_options" data-itemid="search_field_options2" {$item_search_field_options2} data-pageid="{$pageid}" data-field="callTime" >
	{$searchtype_callTime}
</div>
{END callTime_fieldblock}
	
								</td>
			{END cellblock_grid_c35}
			 
																

{BEGIN cellblock_grid_c37}
<td
	{$cell_grid_c37}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c37" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callTime_fieldblock}
<div class="r-search-field" data-itemtype="search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="callTime" data-before-same-field >
	{$callTime_editcontrol}</div>
{END callTime_fieldblock}
											{BEGIN callTime_fieldblock}
<div class="r-search-field" data-itemtype="search_field_between" data-itemid="search_field_between2" {$item_search_field_between2} data-pageid="{$pageid}" data-field="callTime" >
	{$callTime_editcontrol1}
</div>
{END callTime_fieldblock}
	
								</td>
			{END cellblock_grid_c37}
			 
		
							

{BEGIN cellblock_grid_c15}
<td
	{$cell_grid_c15}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c15" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c15}
			 
		
							

{BEGIN cellblock_grid_c38}
<td
	{$cell_grid_c38}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c38" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c38}
			 
		
							

{BEGIN cellblock_grid_c75}
<td
	{$cell_grid_c75}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c75" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c75}
			 
		
							

{BEGIN cellblock_grid_c40}
<td
	{$cell_grid_c40}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c40" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c40}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c29}
<td
	{$cell_grid_c29}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c29" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN dialerPhone_fieldblock}
<label class="control-label r-search-label" for="{$labelfor_dialerPhone}" data-itemtype="search_field_label" data-itemid="search_field_label3" {$item_search_field_label3} data-pageid="{$pageid}" data-field="dialerPhone">
	{$label callsForRedial dialerPhone }</label>
{END dialerPhone_fieldblock}
	
								</td>
			{END cellblock_grid_c29}
			 
																

{BEGIN cellblock_grid_c30}
<td
	{$cell_grid_c30}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c30" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN dialerPhone_fieldblock}
<div class="r-search-option" data-itemtype="search_field_options" data-itemid="search_field_options3" {$item_search_field_options3} data-pageid="{$pageid}" data-field="dialerPhone" >
	{$searchtype_dialerPhone}
</div>
{END dialerPhone_fieldblock}
	
								</td>
			{END cellblock_grid_c30}
			 
																

{BEGIN cellblock_grid_c32}
<td
	{$cell_grid_c32}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c32" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN dialerPhone_fieldblock}
<div class="r-search-field" data-itemtype="search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="dialerPhone" data-before-same-field >
	{$dialerPhone_editcontrol}</div>
{END dialerPhone_fieldblock}
											{BEGIN dialerPhone_fieldblock}
<div class="r-search-field" data-itemtype="search_field_between" data-itemid="search_field_between3" {$item_search_field_between3} data-pageid="{$pageid}" data-field="dialerPhone" >
	{$dialerPhone_editcontrol1}
</div>
{END dialerPhone_fieldblock}
	
								</td>
			{END cellblock_grid_c32}
			 
		
							

{BEGIN cellblock_grid_c16}
<td
	{$cell_grid_c16}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c16" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c16}
			 
		
							

{BEGIN cellblock_grid_c33}
<td
	{$cell_grid_c33}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c33" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c33}
			 
		
							

{BEGIN cellblock_grid_c76}
<td
	{$cell_grid_c76}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c76" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c76}
			 
		
							

{BEGIN cellblock_grid_c45}
<td
	{$cell_grid_c45}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c45" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c45}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c19}
<td
	{$cell_grid_c19}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c19" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callClassificationID_fieldblock}
<label class="control-label r-search-label" for="{$labelfor_callClassificationID}" data-itemtype="search_field_label" data-itemid="search_field_label4" {$item_search_field_label4} data-pageid="{$pageid}" data-field="callClassificationID">
	{$label callsForRedial callClassificationID }</label>
{END callClassificationID_fieldblock}
	
								</td>
			{END cellblock_grid_c19}
			 
																

{BEGIN cellblock_grid_c20}
<td
	{$cell_grid_c20}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c20" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callClassificationID_fieldblock}
<div class="r-search-option" data-itemtype="search_field_options" data-itemid="search_field_options4" {$item_search_field_options4} data-pageid="{$pageid}" data-field="callClassificationID" >
	{$searchtype_callClassificationID}
</div>
{END callClassificationID_fieldblock}
	
								</td>
			{END cellblock_grid_c20}
			 
																

{BEGIN cellblock_grid_c22}
<td
	{$cell_grid_c22}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c22" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callClassificationID_fieldblock}
<div class="r-search-field" data-itemtype="search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="callClassificationID" data-before-same-field >
	{$callClassificationID_editcontrol}</div>
{END callClassificationID_fieldblock}
											{BEGIN callClassificationID_fieldblock}
<div class="r-search-field" data-itemtype="search_field_between" data-itemid="search_field_between4" {$item_search_field_between4} data-pageid="{$pageid}" data-field="callClassificationID" >
	{$callClassificationID_editcontrol1}
</div>
{END callClassificationID_fieldblock}
	
								</td>
			{END cellblock_grid_c22}
			 
		
							

{BEGIN cellblock_grid_c18}
<td
	{$cell_grid_c18}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c18" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c18}
			 
		
							

{BEGIN cellblock_grid_c23}
<td
	{$cell_grid_c23}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c23" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c23}
			 
		
							

{BEGIN cellblock_grid_c78}
<td
	{$cell_grid_c78}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c78" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c78}
			 
		
							

{BEGIN cellblock_grid_c55}
<td
	{$cell_grid_c55}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c55" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c55}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c58}
<td
	{$cell_grid_c58}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c58" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callSubClassificationID_fieldblock}
<label class="control-label r-search-label" for="{$labelfor_callSubClassificationID}" data-itemtype="search_field_label" data-itemid="search_field_label5" {$item_search_field_label5} data-pageid="{$pageid}" data-field="callSubClassificationID">
	{$label callsForRedial callSubClassificationID }</label>
{END callSubClassificationID_fieldblock}
	
								</td>
			{END cellblock_grid_c58}
			 
																

{BEGIN cellblock_grid_c59}
<td
	{$cell_grid_c59}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c59" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callSubClassificationID_fieldblock}
<div class="r-search-option" data-itemtype="search_field_options" data-itemid="search_field_options5" {$item_search_field_options5} data-pageid="{$pageid}" data-field="callSubClassificationID" >
	{$searchtype_callSubClassificationID}
</div>
{END callSubClassificationID_fieldblock}
	
								</td>
			{END cellblock_grid_c59}
			 
																

{BEGIN cellblock_grid_c61}
<td
	{$cell_grid_c61}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c61" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN callSubClassificationID_fieldblock}
<div class="r-search-field" data-itemtype="search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="callSubClassificationID" data-before-same-field >
	{$callSubClassificationID_editcontrol}</div>
{END callSubClassificationID_fieldblock}
											{BEGIN callSubClassificationID_fieldblock}
<div class="r-search-field" data-itemtype="search_field_between" data-itemid="search_field_between5" {$item_search_field_between5} data-pageid="{$pageid}" data-field="callSubClassificationID" >
	{$callSubClassificationID_editcontrol1}
</div>
{END callSubClassificationID_fieldblock}
	
								</td>
			{END cellblock_grid_c61}
			 
		
							

{BEGIN cellblock_grid_c21}
<td
	{$cell_grid_c21}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c21" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c21}
			 
																

{BEGIN cellblock_grid_c62}
<td
	{$cell_grid_c62}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c62" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN totalCallTime_fieldblock}
<label class="control-label r-search-label" for="{$labelfor_totalCallTime}" data-itemtype="search_field_label" data-itemid="search_field_label13" {$item_search_field_label13} data-pageid="{$pageid}" data-field="totalCallTime">
	{$label callsForRedial totalCallTime }</label>
{END totalCallTime_fieldblock}
	
								</td>
			{END cellblock_grid_c62}
			 
																

{BEGIN cellblock_grid_c79}
<td
	{$cell_grid_c79}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c79" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN totalCallTime_fieldblock}
<div class="r-search-option" data-itemtype="search_field_options" data-itemid="search_field_options13" {$item_search_field_options13} data-pageid="{$pageid}" data-field="totalCallTime" >
	{$searchtype_totalCallTime}
</div>
{END totalCallTime_fieldblock}
	
								</td>
			{END cellblock_grid_c79}
			 
																

{BEGIN cellblock_grid_c60}
<td
	{$cell_grid_c60}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c60" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				{BEGIN totalCallTime_fieldblock}
<div class="r-search-field" data-itemtype="search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="totalCallTime" data-before-same-field >
	{$totalCallTime_editcontrol}</div>
{END totalCallTime_fieldblock}
											{BEGIN totalCallTime_fieldblock}
<div class="r-search-field" data-itemtype="search_field_between" data-itemid="search_field_between13" {$item_search_field_between13} data-pageid="{$pageid}" data-field="totalCallTime" >
	{$totalCallTime_editcontrol1}
</div>
{END totalCallTime_fieldblock}
	
								</td>
			{END cellblock_grid_c60}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_grid_c43}
<td
	{$cell_grid_c43}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c43" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c43}
			 
		
							

{BEGIN cellblock_grid_c44}
<td
	{$cell_grid_c44}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c44" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c44}
			 
		
							

{BEGIN cellblock_grid_c46}
<td
	{$cell_grid_c46}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c46" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c46}
			 
		
							

{BEGIN cellblock_grid_c87}
<td
	{$cell_grid_c87}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c87" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c87}
			 
		
							

{BEGIN cellblock_grid_c47}
<td
	{$cell_grid_c47}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c47" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c47}
			 
		
							

{BEGIN cellblock_grid_c82}
<td
	{$cell_grid_c82}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c82" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c82}
			 
		
							

{BEGIN cellblock_grid_c69}
<td
	{$cell_grid_c69}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c69" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c69}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c}
			 
		
							

{BEGIN cellblock_grid_c39}
<td
	{$cell_grid_c39}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c39" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c39}
			 
		
							

{BEGIN cellblock_grid_c41}
<td
	{$cell_grid_c41}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c41" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c41}
			 
		
							

{BEGIN cellblock_grid_c88}
<td
	{$cell_grid_c88}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c88" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c88}
			 
		
							

{BEGIN cellblock_grid_c42}
<td
	{$cell_grid_c42}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c42" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c42}
			 
		
							

{BEGIN cellblock_grid_c83}
<td
	{$cell_grid_c83}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c83" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c83}
			 
		
							

{BEGIN cellblock_grid_c70}
<td
	{$cell_grid_c70}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c70" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c70}
								</tr>
	 
	 
		
						<tr>
						

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class="r-align-right r-ori-vert"
	
			data-single
			
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c1}
			 
		
							

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c2}
			 
		
							

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c8}
			 
																

{BEGIN cellblock_grid_c89}
<td
	{$cell_grid_c89}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c89" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN redialTime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_redialTime}  r-horizontal-field form-horizontal" 
	
		data-fieldname="redialTime" 
	
	data-signal-error-for="redialTime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="redialTime" >


	<label class="r-search-label control-label" for="{$labelfor_redialTime}">
		{$label callsForRedial redialTime }	</label>
	<div class="r-search-option">
		{$searchtype_redialTime}
	</div>
	<div class="r-search-field">
		{$redialTime_editcontrol}	</div>
	<div class="r-search-field">
		{$redialTime_editcontrol1}
	</div>
	
</div>

{END redialTime_fieldblock}
	
								</td>
			{END cellblock_grid_c89}
			 
		
							

{BEGIN cellblock_grid_c14}
<td
	{$cell_grid_c14}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c14" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c14}
			 
		
							

{BEGIN cellblock_grid_c84}
<td
	{$cell_grid_c84}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c84" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c84}
			 
		
							

{BEGIN cellblock_grid_c71}
<td
	{$cell_grid_c71}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c71" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c71}
								</tr>
			</tbody></table>
{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Αναζήτηση			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Επαναφορά			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Πίσω στη λίστα			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Ακύρωση			</a>
</span>
{END cancel_button}
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
