<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left r-ori-vert navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Προβολή όλων">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-cog"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_selected" data-itemid="edit_selected" {$item_edit_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$editselectedlink_attrs} {$editselectedlink_span}  title="" >
				
		Επεξεργασία		
		</a>
	</li>
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		Διαγραφή Επιλεγμένων		
		</a>
	</li>
{END deleteselected_link}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Είσοδος			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Έξοδος		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Περιοχή Διαχειριστή		
		</a>
	</li>
{END adminarea_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}		</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c1" data-pageid="{$pageid}">
</td>
							</tr>
											<tr>
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c2" data-pageid="{$pageid}">
 
<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
<!--
	<button type="button" class="btn btn-info bs-togglebutton bottom-margin collapsed" data-runner-toggle="collapse" data-target=".filterPanelContainer">	
		<span class="glyphicon glyphicon-filter"><span> Filter	
	</button>
-->	
	<div class="filterPanelContainer {$filterPanelStateClass}">



			
	 	

		
		 
		 

		 	

		{BEGIN filter_control_isPackage}
		<div class="panel panel-info filter-field filter-isPackage-container">
			<div class="panel-heading filter-expander">
																	<span class="filter-indicator glyphicon glyphicon-triangle-bottom"></span>	

			
				<label>{$label dbo_Items isPackage }</label>

				{BEGIN clearLink_isPackage}
				<a href="#" class="filter-clear filter-clear-isPackage">Καθάρισμα</a>
				{END clearLink_isPackage}				
			</div>

			<ul class="list-group">
				{BEGIN filterCtrlBlock_isPackage}
				<li class="list-group-item filter-values filter-values-isPackage {$collapsedClass_isPackage} {$visibilityClass_isPackage}">
					{$isPackage_filter}
								
			
			
				</li>				
				{END filterCtrlBlock_isPackage}

			


			

				
	
			</ul>			
		</div>
		{END filter_control_isPackage}
	 
	</div>
</div></td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$addlink_attrs} href="items_add.php{$stateLink_full}" >
							Εισαγωγή			</a>
</span>
{END add_link}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Εισαγωγή (Πλέγμα)			</a>
</span>
{END inlineadd_link}
	 
		{BEGIN saveall_link}
<span data-itemtype="inline_save_all" data-itemid="inline_save_all" {$item_inline_save_all} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savealllink_attrs} {$savealllink_span} >
							Αποθήκευση όλων			</a>
</span>
{END saveall_link}
	 
		{BEGIN cancelall_link}
<span data-itemtype="inline_cancel_all" data-itemid="inline_cancel_all" {$item_inline_cancel_all} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$cancelalllink_attrs} {$cancelalllink_span} >
							Ακύρωση			</a>
</span>
{END cancelall_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							Διαγραφή			</a>
</span>
{END deleteselected_link}
	 
		{BEGIN updateselected_link}
<span data-itemtype="update_selected" data-itemid="update_selected" {$item_update_selected} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="items_edit.php{$stateLink_full}" {$updateselectedlink_attrs} disabled >
							Ενημέρωση των επιλεγμένων			</a>
</span>
{END updateselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>		</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="code"]:before {
		content: "{$label dbo_Items code}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="description"]:before {
		content: "{$label dbo_Items description}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="retailPrice"]:before {
		content: "{$label dbo_Items retailPrice}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="costPrice"]:before {
		content: "{$label dbo_Items costPrice}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="details"]:before {
		content: "{$label dbo_Items details}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="photo"]:before {
		content: "{$label dbo_Items photo}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="familyId"]:before {
		content: "{$label dbo_Items familyId}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="itemCustomerId"]:before {
		content: "{$label dbo_Items itemCustomerId}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="salesCategoryId"]:before {
		content: "{$label dbo_Items salesCategoryId}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="isPackage"]:before {
		content: "{$label dbo_Items isPackage}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="itemWeight"]:before {
		content: "{$label dbo_Items itemWeight}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="itemVolume"]:before {
		content: "{$label dbo_Items itemVolume}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="itemCourierCost"]:before {
		content: "{$label dbo_Items itemCourierCost}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="thumbnail"]:before {
		content: "{$label dbo_Items thumbnail}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="salesComission"]:before {
		content: "{$label dbo_Items salesComission}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="itemDiscount"]:before {
		content: "{$label dbo_Items itemDiscount}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="itemShippingCost"]:before {
		content: "{$label dbo_Items itemShippingCost}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="defaultSalesQty"]:before {
		content: "{$label dbo_Items defaultSalesQty}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="itemIsActive"]:before {
		content: "{$label dbo_Items itemIsActive}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
				 
					{BEGIN cellblock_grid_headcell_details}
	<th
	
	{$cell_grid_headcell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_details" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_headcell_details}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$code_class}
			"

			data-field="code"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN code_fieldheadercolumn}
	{BEGIN code_fieldheader}
	<SPAN {$code_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="code">
	{$label dbo_Items code }	{$arrow_icon_code}
	</SPAN>
	{END code_fieldheader}
{END code_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$description_class}
			"

			data-field="description"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN description_fieldheadercolumn}
	{BEGIN description_fieldheader}
	<SPAN {$description_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="description">
	{$label dbo_Items description }	{$arrow_icon_description}
	</SPAN>
	{END description_fieldheader}
{END description_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$retailPrice_class}
			"

			data-field="retailPrice"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN retailPrice_fieldheadercolumn}
	{BEGIN retailPrice_fieldheader}
	<SPAN {$retailPrice_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="retailPrice">
	{$label dbo_Items retailPrice }	{$arrow_icon_retailPrice}
	</SPAN>
	{END retailPrice_fieldheader}
{END retailPrice_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$costPrice_class}
			"

			data-field="costPrice"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN costPrice_fieldheadercolumn}
	{BEGIN costPrice_fieldheader}
	<SPAN {$costPrice_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="costPrice">
	{$label dbo_Items costPrice }	{$arrow_icon_costPrice}
	</SPAN>
	{END costPrice_fieldheader}
{END costPrice_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$details_class}
			"

			data-field="details"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN details_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="details">
	{$label dbo_Items details }	</span>
{END details_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$photo_class}
			"

			data-field="photo"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN photo_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="photo">
	{$label dbo_Items photo }	</span>
{END photo_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$familyId_class}
			"

			data-field="familyId"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN familyId_fieldheadercolumn}
	{BEGIN familyId_fieldheader}
	<SPAN {$familyId_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="familyId">
	{$label dbo_Items familyId }	{$arrow_icon_familyId}
	</SPAN>
	{END familyId_fieldheader}
{END familyId_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemCustomerId_class}
			"

			data-field="itemCustomerId"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemCustomerId_fieldheadercolumn}
	{BEGIN itemCustomerId_fieldheader}
	<SPAN {$itemCustomerId_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemCustomerId">
	{$label dbo_Items itemCustomerId }	{$arrow_icon_itemCustomerId}
	</SPAN>
	{END itemCustomerId_fieldheader}
{END itemCustomerId_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$salesCategoryId_class}
			"

			data-field="salesCategoryId"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN salesCategoryId_fieldheadercolumn}
	{BEGIN salesCategoryId_fieldheader}
	<SPAN {$salesCategoryId_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="salesCategoryId">
	{$label dbo_Items salesCategoryId }	{$arrow_icon_salesCategoryId}
	</SPAN>
	{END salesCategoryId_fieldheader}
{END salesCategoryId_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$isPackage_class}
			"

			data-field="isPackage"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN isPackage_fieldheadercolumn}
	{BEGIN isPackage_fieldheader}
	<SPAN {$isPackage_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="isPackage">
	{$label dbo_Items isPackage }	{$arrow_icon_isPackage}
	</SPAN>
	{END isPackage_fieldheader}
{END isPackage_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemWeight_class}
			"

			data-field="itemWeight"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemWeight_fieldheadercolumn}
	{BEGIN itemWeight_fieldheader}
	<SPAN {$itemWeight_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemWeight">
	{$label dbo_Items itemWeight }	{$arrow_icon_itemWeight}
	</SPAN>
	{END itemWeight_fieldheader}
{END itemWeight_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemVolume_class}
			"

			data-field="itemVolume"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemVolume_fieldheadercolumn}
	{BEGIN itemVolume_fieldheader}
	<SPAN {$itemVolume_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemVolume">
	{$label dbo_Items itemVolume }	{$arrow_icon_itemVolume}
	</SPAN>
	{END itemVolume_fieldheader}
{END itemVolume_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
				 
					{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemCourierCost_class}
			"

			data-field="itemCourierCost"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemCourierCost_fieldheadercolumn}
	{BEGIN itemCourierCost_fieldheader}
	<SPAN {$itemCourierCost_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemCourierCost">
	{$label dbo_Items itemCourierCost }	{$arrow_icon_itemCourierCost}
	</SPAN>
	{END itemCourierCost_fieldheader}
{END itemCourierCost_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
				 
					{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$thumbnail_class}
			"

			data-field="thumbnail"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN thumbnail_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="thumbnail">
	{$label dbo_Items thumbnail }	</span>
{END thumbnail_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
				 
					{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$salesComission_class}
			"

			data-field="salesComission"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN salesComission_fieldheadercolumn}
	{BEGIN salesComission_fieldheader}
	<SPAN {$salesComission_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="salesComission">
	{$label dbo_Items salesComission }	{$arrow_icon_salesComission}
	</SPAN>
	{END salesComission_fieldheader}
{END salesComission_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
				 
					{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemDiscount_class}
			"

			data-field="itemDiscount"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemDiscount_fieldheadercolumn}
	{BEGIN itemDiscount_fieldheader}
	<SPAN {$itemDiscount_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemDiscount">
	{$label dbo_Items itemDiscount }	{$arrow_icon_itemDiscount}
	</SPAN>
	{END itemDiscount_fieldheader}
{END itemDiscount_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
				 
					{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemShippingCost_class}
			"

			data-field="itemShippingCost"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemShippingCost_fieldheadercolumn}
	{BEGIN itemShippingCost_fieldheader}
	<SPAN {$itemShippingCost_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemShippingCost">
	{$label dbo_Items itemShippingCost }	{$arrow_icon_itemShippingCost}
	</SPAN>
	{END itemShippingCost_fieldheader}
{END itemShippingCost_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
				 
					{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert				{$defaultSalesQty_class}
			"

			data-field="defaultSalesQty"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN defaultSalesQty_fieldheadercolumn}
	{BEGIN defaultSalesQty_fieldheader}
	<SPAN {$defaultSalesQty_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="defaultSalesQty">
	{$label dbo_Items defaultSalesQty }	{$arrow_icon_defaultSalesQty}
	</SPAN>
	{END defaultSalesQty_fieldheader}
{END defaultSalesQty_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
				 
					{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemIsActive_class}
			"

			data-field="itemIsActive"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemIsActive_fieldheadercolumn}
	{BEGIN itemIsActive_fieldheader}
	<SPAN {$itemIsActive_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemIsActive">
	{$label dbo_Items itemIsActive }	{$arrow_icon_itemIsActive}
	</SPAN>
	{END itemIsActive_fieldheader}
{END itemIsActive_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Επεξεργασία" class="btn-link   
	 glyphicon glyphicon-pencil" href="items_edit.php?{$editlink}" {$editlink_attrs} title="Επεξεργασία" >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	 
		{BEGIN inlineedit_column}
{BEGIN inlineedit_link}
<span data-itemtype="grid_inline_edit" data-itemid="grid_inline_edit" {$item_grid_inline_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Επεξεργασία" class="btn-link   
	 glyphicon glyphicon-edit" {$inlineeditlink_attrs} title="Επεξεργασία" >		
				
								</a>
</span>
{END inlineedit_link}
{END inlineedit_column}
	 
		{BEGIN inline_save}
<span data-itemtype="grid_inline_save" data-itemid="grid_inline_save" {$item_grid_inline_save} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Αποθήκευση" class="btn-link   
	 glyphicon glyphicon-ok" {$inlinesavelink_attrs} title="Αποθήκευση" >		
				
								</a>
</span>
{END inline_save}
	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="Ακύρωση" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Ακύρωση" >		
				
								</a>
</span>
{END inline_cancel}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
				 
					{BEGIN cellblock_grid_cell_details}
	<td
	
	{$cell_grid_cell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_details" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"		data-control-cell
	
	>

	 
		{BEGIN dtables_link}
	<a 
		data-itemtype="grid_alldetails_link" data-itemid="grid_alldetails_link" {$item_grid_alldetails_link} data-pageid="{$pageid}" data-record-id="{$recId}" 
		{$dtables_link_attrs} 
		class="{$dtables_link_class}" 
		title="Εμφάνιση λεπτομεριών"
	>
					<span class="glyphicon glyphicon-th-list"></span>
					</a>
{END dtables_link}
	
	</td>
	{END cellblock_grid_cell_details}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$code_class}
			"

			data-field="code"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN code_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="code" data-default-width >
{$code_value}
</span>
{END code_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$description_class}
			"

			data-field="description"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN description_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="description" data-default-width >
{$description_value}
</span>
{END description_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$retailPrice_class}
			"

			data-field="retailPrice"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN retailPrice_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-page="items_list" data-record-id="{$recId}" data-field="retailPrice" data-default-width >
{$retailPrice_value}
</span>
{END retailPrice_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$costPrice_class}
			"

			data-field="costPrice"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN costPrice_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="costPrice" data-default-width >
{$costPrice_value}
</span>
{END costPrice_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$details_class}
			"

			data-field="details"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN details_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="details" data-default-width >
{$details_value}
</span>
{END details_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$photo_class}
			"

			data-field="photo"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN photo_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="photo" data-default-width >
{$photo_value}
</span>
{END photo_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$familyId_class}
			"

			data-field="familyId"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN familyId_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="familyId" data-default-width >
{$familyId_value}
</span>
{END familyId_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemCustomerId_class}
			"

			data-field="itemCustomerId"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemCustomerId_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemCustomerId" data-default-width >
{$itemCustomerId_value}
</span>
{END itemCustomerId_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$salesCategoryId_class}
			"

			data-field="salesCategoryId"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN salesCategoryId_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="salesCategoryId" data-default-width >
{$salesCategoryId_value}
</span>
{END salesCategoryId_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$isPackage_class}
			"

			data-field="isPackage"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN isPackage_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="isPackage" data-default-width >
{$isPackage_value}
</span>
{END isPackage_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemWeight_class}
			"

			data-field="itemWeight"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemWeight_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemWeight" data-default-width >
{$itemWeight_value}
</span>
{END itemWeight_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemVolume_class}
			"

			data-field="itemVolume"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemVolume_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemVolume" data-default-width >
{$itemVolume_value}
</span>
{END itemVolume_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
				 
					{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemCourierCost_class}
			"

			data-field="itemCourierCost"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemCourierCost_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemCourierCost" data-default-width >
{$itemCourierCost_value}
</span>
{END itemCourierCost_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
				 
					{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$thumbnail_class}
			"

			data-field="thumbnail"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN thumbnail_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="thumbnail" data-default-width >
{$thumbnail_value}
</span>
{END thumbnail_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
				 
					{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$salesComission_class}
			"

			data-field="salesComission"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN salesComission_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="salesComission" data-default-width >
{$salesComission_value}
</span>
{END salesComission_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
				 
					{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemDiscount_class}
			"

			data-field="itemDiscount"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemDiscount_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemDiscount" data-default-width >
{$itemDiscount_value}
</span>
{END itemDiscount_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
				 
					{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemShippingCost_class}
			"

			data-field="itemShippingCost"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemShippingCost_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemShippingCost" data-default-width >
{$itemShippingCost_value}
</span>
{END itemShippingCost_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
				 
					{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert				{$defaultSalesQty_class}
			"

			data-field="defaultSalesQty"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN defaultSalesQty_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="defaultSalesQty" data-default-width >
{$defaultSalesQty_value}
</span>
{END defaultSalesQty_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
				 
					{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert				{$itemIsActive_class}
			"

			data-field="itemIsActive"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN itemIsActive_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="itemIsActive" data-default-width >
{$itemIsActive_value}
</span>
{END itemIsActive_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field18}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
				 
					{BEGIN cellblock_grid_footcell_details}
	<td
	
	{$cell_grid_footcell_details}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_details" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_details}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
				 
					{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
				 
					{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
				 
					{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
				 
					{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
				 
					{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
				 
					{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
				 
					{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="items_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
