<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_voltonAgentApplications view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN applicantName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantName}  r-vertical-field" data-fieldname="applicantName" data-signal-error-for="applicantName{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="applicantName" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantName}">
		
		{BEGIN applicantName_label}{$label dbo_voltonAgentApplications applicantName }{END applicantName_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantName_value}	</div>

		
</div>


{END applicantName_fieldblock}
											
{BEGIN applicantIdNumber_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantIdNumber}  r-vertical-field" data-fieldname="applicantIdNumber" data-signal-error-for="applicantIdNumber{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="applicantIdNumber" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantIdNumber}">
		
		{BEGIN applicantIdNumber_label}{$label dbo_voltonAgentApplications applicantIdNumber }{END applicantIdNumber_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantIdNumber_value}	</div>

		
</div>


{END applicantIdNumber_fieldblock}
											
{BEGIN applicantAddress_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantAddress}  r-vertical-field" data-fieldname="applicantAddress" data-signal-error-for="applicantAddress{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="applicantAddress" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantAddress}">
		
		{BEGIN applicantAddress_label}{$label dbo_voltonAgentApplications applicantAddress }{END applicantAddress_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantAddress_value}	</div>

		
</div>


{END applicantAddress_fieldblock}
											
{BEGIN applicantPostalCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantPostalCode}  r-vertical-field" data-fieldname="applicantPostalCode" data-signal-error-for="applicantPostalCode{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="applicantPostalCode" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantPostalCode}">
		
		{BEGIN applicantPostalCode_label}{$label dbo_voltonAgentApplications applicantPostalCode }{END applicantPostalCode_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantPostalCode_value}	</div>

		
</div>


{END applicantPostalCode_fieldblock}
											
{BEGIN applicantTaxRegistrationNumber_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantTaxRegistrationNumber}  r-vertical-field" data-fieldname="applicantTaxRegistrationNumber" data-signal-error-for="applicantTaxRegistrationNumber{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="applicantTaxRegistrationNumber" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantTaxRegistrationNumber}">
		
		{BEGIN applicantTaxRegistrationNumber_label}{$label dbo_voltonAgentApplications applicantTaxRegistrationNumber }{END applicantTaxRegistrationNumber_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantTaxRegistrationNumber_value}	</div>

		
</div>


{END applicantTaxRegistrationNumber_fieldblock}
											
{BEGIN applicantTaxOffice_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantTaxOffice}  r-vertical-field" data-fieldname="applicantTaxOffice" data-signal-error-for="applicantTaxOffice{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="applicantTaxOffice" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantTaxOffice}">
		
		{BEGIN applicantTaxOffice_label}{$label dbo_voltonAgentApplications applicantTaxOffice }{END applicantTaxOffice_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantTaxOffice_value}	</div>

		
</div>


{END applicantTaxOffice_fieldblock}
											
{BEGIN applicantEmail_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantEmail}  r-vertical-field" data-fieldname="applicantEmail" data-signal-error-for="applicantEmail{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="applicantEmail" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantEmail}">
		
		{BEGIN applicantEmail_label}{$label dbo_voltonAgentApplications applicantEmail }{END applicantEmail_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantEmail_value}	</div>

		
</div>


{END applicantEmail_fieldblock}
											
{BEGIN applicantProfession_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantProfession}  r-vertical-field" data-fieldname="applicantProfession" data-signal-error-for="applicantProfession{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="applicantProfession" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantProfession}">
		
		{BEGIN applicantProfession_label}{$label dbo_voltonAgentApplications applicantProfession }{END applicantProfession_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantProfession_value}	</div>

		
</div>


{END applicantProfession_fieldblock}
											
{BEGIN applicantKod_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantKod}  r-vertical-field" data-fieldname="applicantKod" data-signal-error-for="applicantKod{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="applicantKod" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantKod}">
		
		{BEGIN applicantKod_label}{$label dbo_voltonAgentApplications applicantKod }{END applicantKod_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantKod_value}	</div>

		
</div>


{END applicantKod_fieldblock}
											
{BEGIN applicantGemi_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantGemi}  r-vertical-field" data-fieldname="applicantGemi" data-signal-error-for="applicantGemi{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="applicantGemi" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantGemi}">
		
		{BEGIN applicantGemi_label}{$label dbo_voltonAgentApplications applicantGemi }{END applicantGemi_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantGemi_value}	</div>

		
</div>


{END applicantGemi_fieldblock}
											
{BEGIN contactName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contactName}  r-vertical-field" data-fieldname="contactName" data-signal-error-for="contactName{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="contactName" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_contactName}">
		
		{BEGIN contactName_label}{$label dbo_voltonAgentApplications contactName }{END contactName_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$contactName_value}	</div>

		
</div>


{END contactName_fieldblock}
											
{BEGIN contactPhone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contactPhone}  r-vertical-field" data-fieldname="contactPhone" data-signal-error-for="contactPhone{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="contactPhone" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_contactPhone}">
		
		{BEGIN contactPhone_label}{$label dbo_voltonAgentApplications contactPhone }{END contactPhone_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$contactPhone_value}	</div>

		
</div>


{END contactPhone_fieldblock}
											
{BEGIN contactMobile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contactMobile}  r-vertical-field" data-fieldname="contactMobile" data-signal-error-for="contactMobile{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="contactMobile" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_contactMobile}">
		
		{BEGIN contactMobile_label}{$label dbo_voltonAgentApplications contactMobile }{END contactMobile_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$contactMobile_value}	</div>

		
</div>


{END contactMobile_fieldblock}
											
{BEGIN contactEmail_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contactEmail}  r-vertical-field" data-fieldname="contactEmail" data-signal-error-for="contactEmail{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="contactEmail" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_contactEmail}">
		
		{BEGIN contactEmail_label}{$label dbo_voltonAgentApplications contactEmail }{END contactEmail_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$contactEmail_value}	</div>

		
</div>


{END contactEmail_fieldblock}
											
{BEGIN applicantPhone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantPhone}  r-vertical-field" data-fieldname="applicantPhone" data-signal-error-for="applicantPhone{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="applicantPhone" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantPhone}">
		
		{BEGIN applicantPhone_label}{$label dbo_voltonAgentApplications applicantPhone }{END applicantPhone_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantPhone_value}	</div>

		
</div>


{END applicantPhone_fieldblock}
											
{BEGIN applicantMobile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantMobile}  r-vertical-field" data-fieldname="applicantMobile" data-signal-error-for="applicantMobile{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="applicantMobile" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantMobile}">
		
		{BEGIN applicantMobile_label}{$label dbo_voltonAgentApplications applicantMobile }{END applicantMobile_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantMobile_value}	</div>

		
</div>


{END applicantMobile_fieldblock}
											
{BEGIN legalName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_legalName}  r-vertical-field" data-fieldname="legalName" data-signal-error-for="legalName{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="legalName" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_legalName}">
		
		{BEGIN legalName_label}{$label dbo_voltonAgentApplications legalName }{END legalName_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$legalName_value}	</div>

		
</div>


{END legalName_fieldblock}
											
{BEGIN legalIdNumber_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_legalIdNumber}  r-vertical-field" data-fieldname="legalIdNumber" data-signal-error-for="legalIdNumber{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="legalIdNumber" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_legalIdNumber}">
		
		{BEGIN legalIdNumber_label}{$label dbo_voltonAgentApplications legalIdNumber }{END legalIdNumber_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$legalIdNumber_value}	</div>

		
</div>


{END legalIdNumber_fieldblock}
											
{BEGIN mailAddress_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mailAddress}  r-vertical-field" data-fieldname="mailAddress" data-signal-error-for="mailAddress{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="mailAddress" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_mailAddress}">
		
		{BEGIN mailAddress_label}{$label dbo_voltonAgentApplications mailAddress }{END mailAddress_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$mailAddress_value}	</div>

		
</div>


{END mailAddress_fieldblock}
											
{BEGIN mailPostalCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_mailPostalCode}  r-vertical-field" data-fieldname="mailPostalCode" data-signal-error-for="mailPostalCode{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="mailPostalCode" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_mailPostalCode}">
		
		{BEGIN mailPostalCode_label}{$label dbo_voltonAgentApplications mailPostalCode }{END mailPostalCode_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$mailPostalCode_value}	</div>

		
</div>


{END mailPostalCode_fieldblock}
											
{BEGIN powerAddress_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_powerAddress}  r-vertical-field" data-fieldname="powerAddress" data-signal-error-for="powerAddress{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="powerAddress" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_powerAddress}">
		
		{BEGIN powerAddress_label}{$label dbo_voltonAgentApplications powerAddress }{END powerAddress_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$powerAddress_value}	</div>

		
</div>


{END powerAddress_fieldblock}
											
{BEGIN powerOwnershipType_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_powerOwnershipType}  r-vertical-field" data-fieldname="powerOwnershipType" data-signal-error-for="powerOwnershipType{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="powerOwnershipType" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_powerOwnershipType}">
		
		{BEGIN powerOwnershipType_label}{$label dbo_voltonAgentApplications powerOwnershipType }{END powerOwnershipType_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$powerOwnershipType_value}	</div>

		
</div>


{END powerOwnershipType_fieldblock}
											
{BEGIN powerPostalCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_powerPostalCode}  r-vertical-field" data-fieldname="powerPostalCode" data-signal-error-for="powerPostalCode{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="powerPostalCode" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_powerPostalCode}">
		
		{BEGIN powerPostalCode_label}{$label dbo_voltonAgentApplications powerPostalCode }{END powerPostalCode_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$powerPostalCode_value}	</div>

		
</div>


{END powerPostalCode_fieldblock}
											
{BEGIN powerAgreedKw_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_powerAgreedKw}  r-vertical-field" data-fieldname="powerAgreedKw" data-signal-error-for="powerAgreedKw{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="powerAgreedKw" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_powerAgreedKw}">
		
		{BEGIN powerAgreedKw_label}{$label dbo_voltonAgentApplications powerAgreedKw }{END powerAgreedKw_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$powerAgreedKw_value}	</div>

		
</div>


{END powerAgreedKw_fieldblock}
											
{BEGIN powerSupplyNumber_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_powerSupplyNumber}  r-vertical-field" data-fieldname="powerSupplyNumber" data-signal-error-for="powerSupplyNumber{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="powerSupplyNumber" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_powerSupplyNumber}">
		
		{BEGIN powerSupplyNumber_label}{$label dbo_voltonAgentApplications powerSupplyNumber }{END powerSupplyNumber_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$powerSupplyNumber_value}	</div>

		
</div>


{END powerSupplyNumber_fieldblock}
											
{BEGIN powerMeterNumber_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_powerMeterNumber}  r-vertical-field" data-fieldname="powerMeterNumber" data-signal-error-for="powerMeterNumber{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="powerMeterNumber" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_powerMeterNumber}">
		
		{BEGIN powerMeterNumber_label}{$label dbo_voltonAgentApplications powerMeterNumber }{END powerMeterNumber_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$powerMeterNumber_value}	</div>

		
</div>


{END powerMeterNumber_fieldblock}
											
{BEGIN powerCurrentSupplier_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_powerCurrentSupplier}  r-vertical-field" data-fieldname="powerCurrentSupplier" data-signal-error-for="powerCurrentSupplier{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="powerCurrentSupplier" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_powerCurrentSupplier}">
		
		{BEGIN powerCurrentSupplier_label}{$label dbo_voltonAgentApplications powerCurrentSupplier }{END powerCurrentSupplier_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$powerCurrentSupplier_value}	</div>

		
</div>


{END powerCurrentSupplier_fieldblock}
											
{BEGIN powerCurrentDayMeter_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_powerCurrentDayMeter}  r-vertical-field" data-fieldname="powerCurrentDayMeter" data-signal-error-for="powerCurrentDayMeter{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="powerCurrentDayMeter" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_powerCurrentDayMeter}">
		
		{BEGIN powerCurrentDayMeter_label}{$label dbo_voltonAgentApplications powerCurrentDayMeter }{END powerCurrentDayMeter_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$powerCurrentDayMeter_value}	</div>

		
</div>


{END powerCurrentDayMeter_fieldblock}
											
{BEGIN powerCurrentNightMeter_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_powerCurrentNightMeter}  r-vertical-field" data-fieldname="powerCurrentNightMeter" data-signal-error-for="powerCurrentNightMeter{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="powerCurrentNightMeter" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_powerCurrentNightMeter}">
		
		{BEGIN powerCurrentNightMeter_label}{$label dbo_voltonAgentApplications powerCurrentNightMeter }{END powerCurrentNightMeter_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$powerCurrentNightMeter_value}	</div>

		
</div>


{END powerCurrentNightMeter_fieldblock}
											
{BEGIN powerActivationStatus_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_powerActivationStatus}  r-vertical-field" data-fieldname="powerActivationStatus" data-signal-error-for="powerActivationStatus{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="powerActivationStatus" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_powerActivationStatus}">
		
		{BEGIN powerActivationStatus_label}{$label dbo_voltonAgentApplications powerActivationStatus }{END powerActivationStatus_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$powerActivationStatus_value}	</div>

		
</div>


{END powerActivationStatus_fieldblock}
											
{BEGIN voltonPlan_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_voltonPlan}  r-vertical-field" data-fieldname="voltonPlan" data-signal-error-for="voltonPlan{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="voltonPlan" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_voltonPlan}">
		
		{BEGIN voltonPlan_label}{$label dbo_voltonAgentApplications voltonPlan }{END voltonPlan_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$voltonPlan_value}	</div>

		
</div>


{END voltonPlan_fieldblock}
											
{BEGIN voltonContractDuration_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_voltonContractDuration}  r-vertical-field" data-fieldname="voltonContractDuration" data-signal-error-for="voltonContractDuration{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field36" {$item_integrated_edit_field36} data-pageid="{$pageid}" data-field="voltonContractDuration" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_voltonContractDuration}">
		
		{BEGIN voltonContractDuration_label}{$label dbo_voltonAgentApplications voltonContractDuration }{END voltonContractDuration_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$voltonContractDuration_value}	</div>

		
</div>


{END voltonContractDuration_fieldblock}
											
{BEGIN voltonWarrantyAmount_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_voltonWarrantyAmount}  r-vertical-field" data-fieldname="voltonWarrantyAmount" data-signal-error-for="voltonWarrantyAmount{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field37" {$item_integrated_edit_field37} data-pageid="{$pageid}" data-field="voltonWarrantyAmount" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_voltonWarrantyAmount}">
		
		{BEGIN voltonWarrantyAmount_label}{$label dbo_voltonAgentApplications voltonWarrantyAmount }{END voltonWarrantyAmount_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$voltonWarrantyAmount_value}	</div>

		
</div>


{END voltonWarrantyAmount_fieldblock}
											
{BEGIN voltonWarrantyOnFirstBill_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_voltonWarrantyOnFirstBill}  r-vertical-field" data-fieldname="voltonWarrantyOnFirstBill" data-signal-error-for="voltonWarrantyOnFirstBill{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field38" {$item_integrated_edit_field38} data-pageid="{$pageid}" data-field="voltonWarrantyOnFirstBill" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_voltonWarrantyOnFirstBill}">
		
		{BEGIN voltonWarrantyOnFirstBill_label}{$label dbo_voltonAgentApplications voltonWarrantyOnFirstBill }{END voltonWarrantyOnFirstBill_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$voltonWarrantyOnFirstBill_value}	</div>

		
</div>


{END voltonWarrantyOnFirstBill_fieldblock}
											
{BEGIN voltonOther_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_voltonOther}  r-vertical-field" data-fieldname="voltonOther" data-signal-error-for="voltonOther{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field39" {$item_integrated_edit_field39} data-pageid="{$pageid}" data-field="voltonOther" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_voltonOther}">
		
		{BEGIN voltonOther_label}{$label dbo_voltonAgentApplications voltonOther }{END voltonOther_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$voltonOther_value}	</div>

		
</div>


{END voltonOther_fieldblock}
											
{BEGIN voltonComments_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_voltonComments}  r-vertical-field" data-fieldname="voltonComments" data-signal-error-for="voltonComments{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field40" {$item_integrated_edit_field40} data-pageid="{$pageid}" data-field="voltonComments" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_voltonComments}">
		
		{BEGIN voltonComments_label}{$label dbo_voltonAgentApplications voltonComments }{END voltonComments_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$voltonComments_value}	</div>

		
</div>


{END voltonComments_fieldblock}
											
{BEGIN voltonAutoPayment_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_voltonAutoPayment}  r-vertical-field" data-fieldname="voltonAutoPayment" data-signal-error-for="voltonAutoPayment{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field44" {$item_integrated_edit_field44} data-pageid="{$pageid}" data-field="voltonAutoPayment" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_voltonAutoPayment}">
		
		{BEGIN voltonAutoPayment_label}{$label dbo_voltonAgentApplications voltonAutoPayment }{END voltonAutoPayment_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$voltonAutoPayment_value}	</div>

		
</div>


{END voltonAutoPayment_fieldblock}
											
{BEGIN applicationType_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicationType}  r-vertical-field" data-fieldname="applicationType" data-signal-error-for="applicationType{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field45" {$item_integrated_edit_field45} data-pageid="{$pageid}" data-field="applicationType" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicationType}">
		
		{BEGIN applicationType_label}{$label dbo_voltonAgentApplications applicationType }{END applicationType_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicationType_value}	</div>

		
</div>


{END applicationType_fieldblock}
											
{BEGIN applicantWorkPhone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_applicantWorkPhone}  r-vertical-field" data-fieldname="applicantWorkPhone" data-signal-error-for="applicantWorkPhone{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field46" {$item_integrated_edit_field46} data-pageid="{$pageid}" data-field="applicantWorkPhone" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_applicantWorkPhone}">
		
		{BEGIN applicantWorkPhone_label}{$label dbo_voltonAgentApplications applicantWorkPhone }{END applicantWorkPhone_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$applicantWorkPhone_value}	</div>

		
</div>


{END applicantWorkPhone_fieldblock}
											
{BEGIN document1_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document1}  r-vertical-field" data-fieldname="document1" data-signal-error-for="document1{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field47" {$item_integrated_edit_field47} data-pageid="{$pageid}" data-field="document1" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document1}">
		
		{BEGIN document1_label}{$label dbo_voltonAgentApplications document1 }{END document1_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document1_value}	</div>

		
</div>


{END document1_fieldblock}
											
{BEGIN document2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document2}  r-vertical-field" data-fieldname="document2" data-signal-error-for="document2{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field48" {$item_integrated_edit_field48} data-pageid="{$pageid}" data-field="document2" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document2}">
		
		{BEGIN document2_label}{$label dbo_voltonAgentApplications document2 }{END document2_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document2_value}	</div>

		
</div>


{END document2_fieldblock}
											
{BEGIN document3_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document3}  r-vertical-field" data-fieldname="document3" data-signal-error-for="document3{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field49" {$item_integrated_edit_field49} data-pageid="{$pageid}" data-field="document3" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document3}">
		
		{BEGIN document3_label}{$label dbo_voltonAgentApplications document3 }{END document3_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document3_value}	</div>

		
</div>


{END document3_fieldblock}
											
{BEGIN document4_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document4}  r-vertical-field" data-fieldname="document4" data-signal-error-for="document4{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field50" {$item_integrated_edit_field50} data-pageid="{$pageid}" data-field="document4" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document4}">
		
		{BEGIN document4_label}{$label dbo_voltonAgentApplications document4 }{END document4_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document4_value}	</div>

		
</div>


{END document4_fieldblock}
											
{BEGIN document5_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document5}  r-vertical-field" data-fieldname="document5" data-signal-error-for="document5{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field51" {$item_integrated_edit_field51} data-pageid="{$pageid}" data-field="document5" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document5}">
		
		{BEGIN document5_label}{$label dbo_voltonAgentApplications document5 }{END document5_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document5_value}	</div>

		
</div>


{END document5_fieldblock}
											
{BEGIN document6_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document6}  r-vertical-field" data-fieldname="document6" data-signal-error-for="document6{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field52" {$item_integrated_edit_field52} data-pageid="{$pageid}" data-field="document6" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document6}">
		
		{BEGIN document6_label}{$label dbo_voltonAgentApplications document6 }{END document6_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document6_value}	</div>

		
</div>


{END document6_fieldblock}
											
{BEGIN document7_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document7}  r-vertical-field" data-fieldname="document7" data-signal-error-for="document7{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field53" {$item_integrated_edit_field53} data-pageid="{$pageid}" data-field="document7" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document7}">
		
		{BEGIN document7_label}{$label dbo_voltonAgentApplications document7 }{END document7_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document7_value}	</div>

		
</div>


{END document7_fieldblock}
											
{BEGIN document8_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document8}  r-vertical-field" data-fieldname="document8" data-signal-error-for="document8{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field54" {$item_integrated_edit_field54} data-pageid="{$pageid}" data-field="document8" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document8}">
		
		{BEGIN document8_label}{$label dbo_voltonAgentApplications document8 }{END document8_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document8_value}	</div>

		
</div>


{END document8_fieldblock}
											
{BEGIN document9_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document9}  r-vertical-field" data-fieldname="document9" data-signal-error-for="document9{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field55" {$item_integrated_edit_field55} data-pageid="{$pageid}" data-field="document9" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document9}">
		
		{BEGIN document9_label}{$label dbo_voltonAgentApplications document9 }{END document9_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document9_value}	</div>

		
</div>


{END document9_fieldblock}
											
{BEGIN document10_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document10}  r-vertical-field" data-fieldname="document10" data-signal-error-for="document10{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field56" {$item_integrated_edit_field56} data-pageid="{$pageid}" data-field="document10" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document10}">
		
		{BEGIN document10_label}{$label dbo_voltonAgentApplications document10 }{END document10_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document10_value}	</div>

		
</div>


{END document10_fieldblock}
											
{BEGIN document11_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document11}  r-vertical-field" data-fieldname="document11" data-signal-error-for="document11{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field57" {$item_integrated_edit_field57} data-pageid="{$pageid}" data-field="document11" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document11}">
		
		{BEGIN document11_label}{$label dbo_voltonAgentApplications document11 }{END document11_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document11_value}	</div>

		
</div>


{END document11_fieldblock}
											
{BEGIN document12_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document12}  r-vertical-field" data-fieldname="document12" data-signal-error-for="document12{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field58" {$item_integrated_edit_field58} data-pageid="{$pageid}" data-field="document12" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document12}">
		
		{BEGIN document12_label}{$label dbo_voltonAgentApplications document12 }{END document12_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document12_value}	</div>

		
</div>


{END document12_fieldblock}
											
{BEGIN document13_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document13}  r-vertical-field" data-fieldname="document13" data-signal-error-for="document13{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field59" {$item_integrated_edit_field59} data-pageid="{$pageid}" data-field="document13" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document13}">
		
		{BEGIN document13_label}{$label dbo_voltonAgentApplications document13 }{END document13_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document13_value}	</div>

		
</div>


{END document13_fieldblock}
											
{BEGIN document14_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document14}  r-vertical-field" data-fieldname="document14" data-signal-error-for="document14{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field60" {$item_integrated_edit_field60} data-pageid="{$pageid}" data-field="document14" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document14}">
		
		{BEGIN document14_label}{$label dbo_voltonAgentApplications document14 }{END document14_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document14_value}	</div>

		
</div>


{END document14_fieldblock}
											
{BEGIN document15_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_document15}  r-vertical-field" data-fieldname="document15" data-signal-error-for="document15{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field61" {$item_integrated_edit_field61} data-pageid="{$pageid}" data-field="document15" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_document15}">
		
		{BEGIN document15_label}{$label dbo_voltonAgentApplications document15 }{END document15_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$document15_value}	</div>

		
</div>


{END document15_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Πίσω στη λίστα			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Κλείσε το παράθυρο			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="voltonagentapplications_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Επεξεργασία		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
